@font-face {
  font-family: TTRounds;
  src: url("/assets/fonts/TTRounds-Bold.otf") format("opentype"); }

@font-face {
  font-family: KlinicSlab;
  src: url("/assets/fonts/KlinicSlabMedium.otf") format("opentype"); }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.center {
  float: none !important;
  margin: 0 auto; }

.center-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

.center-text {
  text-align: center;
  display: block; }

.block-overlap {
  margin: -4em auto auto auto !important;
  width: 90% !important;
  position: relative; }
  @media handheld, only screen and (max-width: 767px) {
    .block-overlap {
      width: 100% !important; } }

.flex-container {
  max-width: 1780px;
  padding: 0;
  margin: 0 auto;
  float: none !important;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float: left;
  -webkit-align-items: stretch;
  align-items: stretch; }
  @media screen and (max-width: 767px) {
    .flex-container {
      display: block; } }

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */ }

.menu-icon {
  display: none; }

.grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media only screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none !important; } }

@media handheld, only screen and (max-width: 767px) {
  .hide-on-desktop {
    display: block !important; }
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 20px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }
  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }
  [class*='col-'] [class*='col-'] {
    padding-right: 0; }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

@media handheld, only screen and (min-width: 768px) and (max-width: 1023px) {
  .tablet-col-1-3 {
    width: 33.33%; }
    .tablet-col-1-3:nth-of-type(3) {
      padding-right: 0; }
  .hide-on-tablet {
    display: none !important;
    width: 0;
    height: 0; }
  .tablet-col-1-60 {
    width: 60%; }
  .tablet-col-1-40 {
    width: 40%; } }

@media handheld, only screen and (min-width: 600px) and (max-width: 767px) {
  .custom-col-1-2 {
    width: 50%; }
    .custom-col-1-2:nth-of-type(2) {
      padding-right: 0; } }

.button {
  text-transform: uppercase; }
  .button a {
    padding: 13px 36px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    display: inline-block;
    font-size: 12px;
    font-family: "TTRounds", Helvetica, sans-serif; }
    .button a.orange {
      background: #ff5a38;
      color: #fff;
      text-align: center;
      min-width: 135px; }
    .button a.transparent {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff; }

::-webkit-input-placeholder {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-family: "KlinicSlab", Times, serif; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-family: "KlinicSlab", Times, serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-family: "KlinicSlab", Times, serif; }

:-ms-input-placeholder {
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-family: "KlinicSlab", Times, serif; }

input {
  outline: 0; }

input[type=submit] {
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "TTRounds", Helvetica, sans-serif;
  letter-spacing: 1.5px;
  min-width: 135px;
  height: 42px;
  background: #ff5a38;
  text-align: center;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px; }

input[type=email], input[type=text] {
  background: none;
  font-size: 12px;
  letter-spacing: 1.5px;
  height: 42px;
  border-radius: 4px;
  padding: 10px 20px; }

h1 {
  font-family: "TTRounds", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5; }

h2 {
  font-family: "TTRounds", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 22px;
  line-height: 1.5; }

h4.round {
  font-family: "TTRounds", Helvetica, sans-serif;
  font-size: 22px; }

h3 {
  font-family: "TTRounds", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px; }

h4, p, a, ul, li {
  font-family: "KlinicSlab", Times, serif;
  font-weight: 400; }

.caps {
  text-transform: uppercase;
  font-family: "TTRounds", Helvetica, sans-serif;
  font-weight: 400; }

p {
  font-size: 18px;
  line-height: 1.7; }

p.round {
  font-family: "TTRounds", Helvetica, sans-serif;
  font-size: 18px; }

p.small {
  font-size: 12px; }

a {
  color: #165376;
  text-decoration: none; }

h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, p.blue, li.blue, a.blue {
  color: #459BBC; }

h1.blue-dark, h2.blue-dark, h3.blue-dark, h4.blue-dark, h5.blue-dark, h6.blue-dark, p.blue-dark, li.blue-dark, a.blue-dark {
  color: #165376; }

h1.green, h2.green, h3.green, h4.green, h5.green, h6.green, p.green, li.green, a.green {
  color: #6aceb6; }

h1.orange, h2.orange, h3.orange, h4.orange, h5.orange, h6.orange, p.orange, li.orange, a.orange {
  color: #ff5a38; }

h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow, h6.yellow, p.yellow, li.yellow, a.yellow {
  color: #ffc05d; }

h1.pink, h2.pink, h3.pink, h4.pink, h5.pink, h6.pink, p.pink, li.pink, a.pink {
  color: #CA8ABC; }

.page-content, footer {
  top: 100px;
  position: relative; }

header {
  height: 100px;
  flex-shrink: 0;
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 9999; }
  header .site-title img {
    margin-top: 18px;
    width: 190px; }

nav {
  float: right; }
  nav ul {
    list-style: none;
    margin: 0; }
    nav ul li {
      display: inline-block; }
      nav ul li p.button {
        margin-left: 18px; }
      nav ul li a {
        padding-bottom: 42px;
        padding-top: 33px;
        display: inline-block; }
        nav ul li a:hover p {
          color: #165376; }
        @media screen and (min-width: 768px) {
          nav ul li a.active:before {
            content: '';
            top: -33px;
            height: 5px;
            border-radius: 3px;
            display: block;
            content: '';
            position: relative;
            width: 0%;
            background-color: #ff5a38;
            animation-name: grow-x;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
            animation-delay: 0.5s; } }
        nav ul li a.active p {
          margin-top: 0;
          color: #ff5a38;
          position: relative; }
      nav ul li a p {
        letter-spacing: 1.2px;
        margin: 0 24px; }

@keyframes grow-x {
  to {
    width: 100%; } }

#programsNav {
  display: none; }

.find-program-submenu {
  padding: 40px 0; }
  .find-program-submenu img {
    width: 300px; }
  .find-program-submenu .button {
    margin-top: -52px;
    margin-left: 7.5px; }

.programs-submenu ul {
  -moz-column-count: 2;
  -moz-column-gap: 100px;
  -webkit-column-count: 2;
  -webkit-column-gap: 100px;
  column-count: 2;
  column-gap: 100px; }
  .programs-submenu ul li a p {
    margin-bottom: 2em;
    font-family: "TTRounds", Helvetica, sans-serif; }
    .programs-submenu ul li a p:first-of-type {
      margin-top: 0; }

.site-footer {
  color: #fff; }
  .site-footer section {
    padding: 75px 0 50px 0; }
  .site-footer a {
    color: #fff; }
  .site-footer p.small {
    margin-bottom: 25px;
    letter-spacing: 1.5px; }
  .site-footer input {
    color: #fff; }
  .site-footer ul {
    list-style: none;
    padding: 0; }
    .site-footer ul li {
      margin-bottom: 25px; }
      .site-footer ul li:last-of-type {
        margin-bottom: 0; }
  .site-footer .text-center h2 {
    margin-top: 0; }
  .site-footer .social-icons li {
    display: inline-block;
    margin-right: 10px; }
  .site-footer #mc_embed_signup input[type=email] {
    width: 370px;
    border: 1px solid #fff; }
  .site-footer #mc_embed_signup ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #459BBC !important;
    text-transform: uppercase;
    font-family: "TTRounds", Helvetica, sans-serif; }
  .site-footer #mc_embed_signup :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #459BBC !important;
    text-transform: uppercase;
    font-family: "TTRounds", Helvetica, sans-serif; }
  .site-footer #mc_embed_signup ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #459BBC !important;
    text-transform: uppercase;
    font-family: "TTRounds", Helvetica, sans-serif; }
  .site-footer #mc_embed_signup :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #459BBC !important;
    text-transform: uppercase;
    font-family: "TTRounds", Helvetica, sans-serif; }

div.clearfix {
  clear: both; }

ul li {
  list-style-type: none; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.img-settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

.img-overlay-left:before, .img-overlay-right:before {
  content: "";
  position: absolute;
  height: 100%;
  display: block;
  top: 0;
  width: 100%; }

.img-overlay-left .grid, .img-overlay-right .grid {
  position: relative; }

.img-overlay-left:before {
  background-image: linear-gradient(-90deg, transparent 14%, rgba(255, 255, 255, 0.6) 100%); }

.img-overlay-right:before {
  background-image: linear-gradient(90deg, transparent 14%, rgba(255, 255, 255, 0.6) 100%); }

.border-left {
  border-left: 1px solid #165376; }

.section-photo {
  height: auto;
  max-height: 950px; }
  .section-photo [class*='col-'] {
    padding-right: 0; }
  .section-photo:after {
    padding-bottom: 24%;
    content: "";
    display: block; }
    @media screen and (min-width: 1440px) {
      .section-photo:after {
        padding-bottom: 28%; } }

.block-overlap {
  margin: -4em auto auto auto !important;
  width: 90% !important;
  position: relative; }

.color-blue {
  color: #459BBC; }

.color-blue-dark {
  color: #165376; }

.color-white {
  color: #ffffff; }

.color-yellow {
  color: #ffc05d; }

.color-mint {
  color: #70c7b2; }

.color-orange {
  color: #ff5a38; }

.color-pink {
  color: #CA8ABC; }

.center {
  float: none;
  margin: 0 auto; }

.color-purple {
  color: #db8ac2; }

.color-purple-dark {
  color: #7e4f85; }

hr {
  border: 0;
  border-top: 1px solid #979797; }

section {
  padding: 90px 0; }

section.blue, div.blue, span.blue {
  background-color: #459BBC;
  color: #fff; }

section.blue-dark, div.blue-dark, span.blue-dark {
  background-color: #165376;
  color: #fff; }

section.orange, div.orange, span.orange {
  background-color: #ff5a38;
  color: #fff; }

section.yellow, div.yellow, span.yellow {
  background-color: #ffc05d;
  color: #fff; }

section.grey, div.grey, span.grey {
  background-color: #F8F8F7;
  color: #165376; }

section.purple-dark, div.purple-dark, span.purple-dark {
  background-color: #7e4f85;
  color: #fff; }

section.pink, div.pink, span.pink {
  background-color: #CA8ABC;
  color: #fff; }

section.mint, div.mint, span.mint {
  background-color: #70c7b2;
  color: #fff; }

section.white, div.white, span.white {
  background-color: #fff;
  color: #165376; }

.no-padding-top {
  padding-top: 0 !important; }

.stats-front {
  float: right;
  text-align: center;
  color: white; }

.latest-front .col-1-3 {
  height: 377px; }

.unslider {
  overflow-y: hidden !important; }

.unslider-nav {
  margin-top: -20px;
  top: -25px;
  position: relative;
  float: none; }
  .unslider-nav ol li {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    border: 1px solid white !important; }

.campaign-slider li {
  height: 550px; }
  .campaign-slider li h1 {
    margin: 0; }
  .campaign-slider li h4 {
    margin-bottom: 0; }

#blog .col-4-12 {
  margin-top: 4%; }

#blog .social-icons li {
  display: inline-block;
  margin: 0 8%; }

#blog .img-post {
  width: 100%;
  height: 390px;
  background-size: cover;
  background-position: center top; }

#blog .post {
  border: 1px solid #ecebeb;
  margin: 8% 0; }
  #blog .post .blog-excerpt {
    padding: 0 1.5em; }
    #blog .post .blog-excerpt ul {
      padding: 0; }

#blog .buttons-box {
  padding: 1em 1.5em;
  border-top: 1px solid #ecebeb; }

.category-active {
  border-left: 3px solid #459BBC;
  margin-left: -2px; }

#blog .col-4-12, #blog-post .col-4-12 {
  border-left: 1px solid #ecebeb; }
  #blog .col-4-12 p, #blog .col-4-12 ul, #blog-post .col-4-12 p, #blog-post .col-4-12 ul {
    padding-left: 1.4em; }
  #blog .col-4-12 .blog-tags, #blog-post .col-4-12 .blog-tags {
    margin-top: 2em; }
    #blog .col-4-12 .blog-tags ul li, #blog-post .col-4-12 .blog-tags ul li {
      display: inline-block;
      border: 1px solid #165376;
      padding: 0.7em;
      margin: 0.4em 0.4em 0.4em 0; }
  #blog .col-4-12 .blog-categories, #blog-post .col-4-12 .blog-categories {
    margin-top: 2em; }

#blog-post .blog-body h1, #blog-post .blog-body h2, #blog-post .blog-body h3, #blog-post .blog-body h4 {
  font-weight: bold; }

#blog-post .blog-body p, #blog-post .blog-body p img {
  width: 100%; }

#map-canvas, #panel {
  height: 500px;
  background: white; }

#panel {
  width: 300px;
  float: left; }

#panel .feature-filter label {
  width: 130px; }

p.attribution, p.attribution a {
  color: #666; }

.storelocator-panel {
  border: 1px solid #ecebeb;
  overflow: auto; }

.storelocator-panel .store-list {
  margin: 0;
  padding: 0; }

.storelocator-panel .store-list li {
  padding: 0 0 0 5px;
  margin: 10px 0; }
  .storelocator-panel .store-list li div.store {
    padding: 10px; }

.storelocator-panel .directions-panel {
  padding: 5px; }

.storelocator-panel .directions-panel {
  font-size: 0.8em; }

.storelocator-panel .store-list li.store:hover {
  cursor: pointer; }

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  border-left: 5px solid #ff5a38;
  border-radius: 2px; }
  .storelocator-panel .store-list li.highlighted div.store,
  .storelocator-panel .store-list li.highlighted:hover div.store {
    background: #459BBC;
    color: white; }
    .storelocator-panel .store-list li.highlighted div.store .title, .storelocator-panel .store-list li.highlighted div.store .address, .storelocator-panel .store-list li.highlighted div.store .misc, .storelocator-panel .store-list li.highlighted div.store .web,
    .storelocator-panel .store-list li.highlighted:hover div.store .title,
    .storelocator-panel .store-list li.highlighted:hover div.store .address,
    .storelocator-panel .store-list li.highlighted:hover div.store .misc,
    .storelocator-panel .store-list li.highlighted:hover div.store .web {
      color: white; }
    .storelocator-panel .store-list li.highlighted div.store .web a, .storelocator-panel .store-list li.highlighted div.store .action,
    .storelocator-panel .store-list li.highlighted:hover div.store .web a,
    .storelocator-panel .store-list li.highlighted:hover div.store .action {
      color: white;
      text-decoration: underline; }

.storelocator-panel .directions {
  display: none; }

.find-a-program .grid {
  margin-top: 100px; }

.storelocator-panel .location-search {
  position: absolute;
  margin-top: -146px; }

.storelocator-panel .location-search input {
  width: 312px;
  height: 58px;
  margin-top: 13px; }

.storelocator-panel .location-search h4 {
  margin: 0;
  padding: 0; }

.storelocator-panel .store-list .no-stores {
  color: #bebebe; }

.storelocator-panel .store .features {
  display: none; }

.storelocator-panel .feature-filter {
  overflow: hidden; }

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left; }

.store .title {
  font-weight: bold;
  font-size: 18px;
  color: #bebebe; }

.store .address,
.store .phone,
.store .web,
.store .misc {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: block;
  color: #bebebe; }

.store .features {
  overflow: hidden;
  color: #ecebeb;
  margin: 0;
  padding: 0;
  max-width: 250px; }

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em; }

.store .web a {
  color: #bebebe; }

.store .action {
  font-size: 0.8em;
  color: #bebebe;
  margin-right: 0.5em; }

.careers-stats .col-1-3 {
  padding-right: 8%; }
  .careers-stats .col-1-3:nth-of-type(1) {
    padding-bottom: 5%; }
  .careers-stats .col-1-3:nth-of-type(2) {
    padding-bottom: 5%; }
  .careers-stats .col-1-3:nth-of-type(3) {
    padding-bottom: 5%; }

.careers-stats .color-bar {
  height: 12px;
  border-radius: 6px;
  width: 52%;
  display: block; }

.jobs .job-category {
  padding: 3px;
  margin: 10px 0px; }
  .jobs .job-category p {
    width: 50%;
    margin: 20px auto; }

.programs-nav {
  padding: 20px 0; }

.program-blurb .button a {
  padding: 0; }

.program-blurb .white {
  padding: 3px 24px; }

.program-blurb h4 {
  padding: 20px;
  margin: 0; }

.program-img:not(:nth-of-type(2)) {
  margin-top: 10px; }

.individual-program .program-title h1 {
  padding: 55px 0px 10px 0; }

.individual-program .social-icons li {
  margin-top: 7.5%;
  display: inline-block; }
  .individual-program .social-icons li:not(:first-of-type) {
    margin-left: 15%; }

.individual-program .fast-facts .col-1-3 {
  padding: 0 4.5%; }

.individual-program .block-overlap .button {
  display: inline-block;
  margin-top: 3%; }

#blog .col-4-12 {
  margin-top: 4%; }

#blog .social-icons li {
  display: inline-block;
  margin: 0 8%; }

#blog .img-post {
  width: 100%;
  height: 390px;
  background-size: cover;
  background-position: center top; }

#blog .post {
  border: 1px solid #ecebeb;
  margin: 8% 0; }
  #blog .post .blog-excerpt {
    padding: 0 1.5em; }
    #blog .post .blog-excerpt ul {
      padding: 0; }

#blog .buttons-box {
  padding: 1em 1.5em;
  border-top: 1px solid #ecebeb; }

.category-active {
  border-left: 3px solid #459BBC;
  margin-left: -2px; }

#blog .col-4-12, #blog-post .col-4-12 {
  border-left: 1px solid #ecebeb; }
  #blog .col-4-12 p, #blog .col-4-12 ul, #blog-post .col-4-12 p, #blog-post .col-4-12 ul {
    padding-left: 1.4em; }
  #blog .col-4-12 .blog-tags, #blog-post .col-4-12 .blog-tags {
    margin-top: 2em; }
    #blog .col-4-12 .blog-tags ul li, #blog-post .col-4-12 .blog-tags ul li {
      display: inline-block;
      border: 1px solid #165376;
      padding: 0.7em;
      margin: 0.4em 0.4em 0.4em 0; }
  #blog .col-4-12 .blog-categories, #blog-post .col-4-12 .blog-categories {
    margin-top: 2em; }

#blog-post .blog-body h1, #blog-post .blog-body h2, #blog-post .blog-body h3, #blog-post .blog-body h4 {
  font-weight: bold; }

#blog-post .blog-body p, #blog-post .blog-body p img {
  width: 100%; }

.contact-form fieldset {
  padding: 0;
  margin: 0;
  border: none; }
  .contact-form fieldset ::-webkit-input-placeholder {
    color: #bebebe;
    font-family: "KlinicSlab", Times, serif;
    font-size: 15px;
    font-weight: 400; }
  .contact-form fieldset ::-moz-placeholder {
    color: #bebebe;
    font-family: "KlinicSlab", Times, serif;
    font-size: 15px;
    font-weight: 400; }
  .contact-form fieldset :-ms-input-placeholder {
    color: #bebebe;
    font-family: "KlinicSlab", Times, serif;
    font-size: 15px;
    font-weight: 400; }
  .contact-form fieldset :-moz-placeholder {
    color: #bebebe;
    font-family: "KlinicSlab", Times, serif;
    font-size: 15px;
    font-weight: 400; }
  .contact-form fieldset textarea {
    padding: 10px 20px;
    height: 275px; }
  .contact-form fieldset .form-name, .contact-form fieldset .form-info {
    border: 1px solid #ecebeb;
    border-radius: 0;
    background-color: white;
    color: #bebebe; }
  .contact-form fieldset .form-name {
    display: inline-block;
    width: 42%; }
    .contact-form fieldset .form-name:first-of-type {
      margin-right: 1%; }
  .contact-form fieldset .form-info {
    width: 86%;
    display: block;
    margin-top: 1.5%; }
  .contact-form fieldset input[type="submit"] {
    margin-top: 8%; }

.contact-map {
  border-left: 2px solid #ecebeb;
  padding: 0 0 0 4em; }
  .contact-map h2:nth-of-type(2) {
    border-top: 1px solid #ecebeb;
    padding-top: 8%;
    margin-top: 11%; }
  .contact-map .button {
    margin-top: 5.5%; }
  .contact-map .col-1-2 p {
    line-height: 1.1; }
  .contact-map .col-1-2:first-of-type {
    padding: 0; }
  .contact-map .col-1-2:nth-of-type(2) {
    padding-right: 0;
    padding-left: 50px; }
    .contact-map .col-1-2:nth-of-type(2) p:last-of-type {
      margin-top: 29%; }
