.box-amount {
	border:1px solid #999;
	padding:10px 20px;
	display: inline-block;
	cursor:pointer;
	margin-right: 20px;
	@include transition(.2s);
	p {
		margin: 0;
	}
	&.active {
		border: 2px solid $orange;
	}
	&:hover {
		color: $blue;
	}
}
.stripe-button-el {
	cursor: pointer;
	&:hover {
		color: $blue;
		@include transition(.2s);
	}
}