.button {
	text-transform: uppercase;
	cursor:pointer;
	display:inline-block;
	&.link {
		padding: 13px 36px;
		border-radius: 5px;
		letter-spacing: 1.5px;
		display: inline-block;
		font-size: 12px;
		font-family: $stack-sans-serif;
		@include transition(.2s);
		background-color: $orange;
		color: #fff;
		&:hover {
			background: lighten($orange, 5%);
		}
	}
	a {
		padding: 13px 36px;
		border-radius: 5px;
		letter-spacing: 1.5px;
		display: inline-block;
		font-size: 12px;
		font-family: $stack-sans-serif;
		@include transition(.2s);
		&.orange {
			background: $orange;
			color: #fff; 
			margin-top: 2em;
			text-align: center;
			min-width: 135px;
			&:hover {
				color: #fff;
				background: lighten($orange, 5%);
			}
		}
		&.transparent {
			color: #fff;
			border: 1px solid #ffffff; 
			margin-top: 2em;
			&:hover {
				background-color: rgba(255,255,255,0.2);
			}
		}
	}
} 
::-webkit-input-placeholder {
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.5px;
	font-family: $stack-serif;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.5px;
	font-family: $stack-serif;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.5px;
	font-family: $stack-serif;
}
:-ms-input-placeholder {  
	color: #fff;
	letter-spacing: 1.5px;
	font-size: 12px;
	font-family: $stack-serif;
}
input {
	outline: 0;
}
input[type=submit] {
	padding: 10px 20px;
	border-radius: 4px;
	font-family: $stack-sans-serif;
	letter-spacing: 1.5px;
	min-width: 135px;
	height: 42px;
	background: $orange;
	text-align: center;
	border:none;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	-webkit-appearance: none;
}
input[type=email], input[type=text], select {
	background:none;
	font-size: 12px;
	letter-spacing: 1.5px;
	height: 42px;
	border-radius: 4px;
	padding: 10px 20px;
}