.button {
	padding: 10px 20px;
	border-radius:5px;
}

::-webkit-input-placeholder {
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

:-ms-input-placeholder {  
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

input {
	outline: 0;
}

input[type=submit] {
	background: $orange;
	border:none;
	color: #fff;
	font-size:1em;
	font-family: $stack-serif;
}

input[type=email], input[type=text] {
	background:none;
	font-size:14px;
	border: 1px solid #fff;
	border-radius:2px;
	padding:10px 20px;
	color:#fff;
}