// Headline
h1 {
	font-family: $stack-sans-serif;
	font-weight: 900;
	font-size: 36px; //45px 
	line-height: 1.5;
} 
// Display Text
h2 {
	font-family: $stack-sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.5;
}
h3 {
	font-size: 27px; //36px
}
h4 {
	font-size: 22px; //24px
	line-height: 1.5;
}
h4.round {
	font-family: $stack-sans-serif;
	font-size: 22px; //24px
}
h4.italic, p.italic {
	font-style: italic;
}
h3 {
	font-family: $stack-sans-serif;
	font-weight: 400;
	line-height: 1.5;
    letter-spacing: 1px;
}
h4, p, a, ul, li {
	font-family: $stack-serif-light;
	font-weight: 400;
}
.caps {
	text-transform: uppercase;
	font-family: $stack-sans-serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

//Body 
p {
	font-size: 18px;
	line-height: 1.7;
}

p.round {
	font-family: $stack-serif-light;
	font-size: 18px;
}

p.small {
	font-size: 12px;
}

a {
	color: $blue-dark;
	text-decoration: none;
	p {
		&.color-blue:hover {
			color: $blue-hover;
		}
	}
}
h1,h2,h3,h4,h5,h6,p,li,a {
	&.blue {
		color:$blue;
		&:hover {
			color: lighten($blue, 10%);
		}
	}
	&.blue-dark {
		color:$blue-dark;
		&:hover {
			color: lighten($blue-dark, 10%);
		}
	}
	&.green {
		color:$green;
		&:hover {
			color: lighten($green, 10%);
		}
	}
	&.orange {
		color:$orange;
		&:hover {
			color: lighten($orange, 10%);
		}
	}
	&.yellow {
		color:$yellow;
		&:hover {
			color: lighten($yellow, 10%);
		}
	}
	&.pink {
		color: $pink;
		&:hover {
			color: lighten($pink, 10%);
		}
	}
	&.grey {
		color: $grey-darkest;
		&:hover {
			color: lighten($grey-darkest, 10%);
		}
	}
	&.color-purple-dark {
		color: $purple-dark;
		&:hover {
			color: lighten($purple-dark, 10%);
		}
	}
}