.button {
	text-transform: uppercase;
	a {
		padding: 10px 20px;
		border-radius: 5px;
		letter-spacing: 1.5px;
		display: inline-block;
		font-family: $stack-sans-serif;
			&.orange {
				background: $orange;
				color: #fff; 
				text-align: center;
				min-width: 135px;
			}
		}
}

::-webkit-input-placeholder {
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

:-ms-input-placeholder {  
	color: #fff;
	font-size:14px;
	font-family: $stack-serif;
}

input {
	outline: 0;
}

input[type=submit] {
	padding: 10px 20px;
	border-radius: 4px;
	font-family: $stack-sans-serif;
	letter-spacing: 1.5px;
	background: $orange;
	text-align: center;
	border:none;
	text-transform: uppercase;
	color: #fff;
	font-size:1em;
	font-family: $stack-serif;
}

input[type=email], input[type=text] {
	background:none;
	font-size:14px;
	border: 1px solid #fff;
	border-radius:2px;
	padding:10px 20px;
	color:#fff;
}