#blog {
	.col-4-12 {
		margin-top: 4%;
	}
	.social-icons li {
		display: inline-block;
		margin: 0 8%;
	}
	.img-post {
		width: 100%;
		height: 390px;
		background-size: cover;
		background-position: center top;
	}
	.post {
		border: 1px solid $grey-dark;
		margin: 8% 0;
		.blog-excerpt {
			padding: 0 1.5em;
			ul {
				padding: 0;
			}
		}
	}
	.buttons-box {
		padding: 1em 1.5em;
		border-top: 1px solid $grey-dark;
	}
}
.category-active {
    border-left: 3px solid $blue;
    margin-left: -2px;
}
#blog, #blog-post {
	.col-4-12 {
		border-left: 1px solid $grey-dark;
		p, ul {
			padding-left: 1.4em;
		}
		.blog-tags  {
			margin-top: 2em;
			ul li {
				display: inline-block;
				border: 1px solid $blue-dark;
	    		padding: 0.7em;
	    		margin: 0.4em 0.4em 0.4em 0;
    		}
		}
		.blog-categories {
			margin-top: 2em;
		}
	}
}

// Individual post 

#blog-post {
	.blog-body {
		h1, h2, h3, h4 {
			font-weight: bold;
		}
	}
}