//push page content to the nav's height
.page-content, footer {
	top: 100px;
	position: relative;
}
header {
    height: 100px;
    flex-shrink: 0;
    width:100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 9999;
    .site-title img {
    	margin-top: 18px;
    	width: 190px;
    	@media screen and (max-width: 900px) {
    		margin-top: 25px;
    		width: 153px;
    	}
    	@media screen and (min-width: 901px) and (max-width: 941px) {
    		margin-top: 26px;
    		width: 149px;
    	}
    }
}
nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			p.button {
				margin-left: 18px;
			}
			a {
		    	padding-bottom: 42px;
			    padding-top: 33px;
			    display: inline-block;
			    &:hover {
			    	p {
	            		color: $blue-dark;
	            	}
		        }
			    &.active {
			        @media screen and (min-width: 901px) {
		                &:before {
		                	content: '';
		                    top: -33px;
    						height: 5px;
    						border-radius: 3px;
		                    display: block;
		                    content: '';
		                    position: relative;
		                    width: 0%;
		                    background-color: $orange;
		                    animation-name: grow-x;
		                    animation-duration: 0.3s;
		                    animation-fill-mode: forwards;
		                    animation-timing-function: ease;
		                    animation-delay: 0.5s
		                }
					}
					p {
						margin-top: 0;
		            	color: $orange;
		            	position: relative;
					}
				}
	 		}
			a p {
				letter-spacing: 1.2px;
				margin: 0 24px;
			}
		}
	}
}

@keyframes grow-x {
    to {
        width: 100%
    }
}
#programsNav {
	display: none;
}
.find-program-submenu {
	padding: 40px 0;
	img {
		width: 300px;
		margin-bottom: -4.3em;
		@media screen and #{$brk-tablet-min} and #{$brk-wide} {
			width: 289px;
		}
	}
	.button {
    	margin-left: 7.5px;
    	a {
    		margin-top: 0 !important;
    	}
    	@media screen and #{$brk-tablet-min} and #{$brk-wide} {
			width: 278px;
			margin-left: 3px;
		}
	}
	@media screen and #{$brk-tablet-min} and #{$brk-wide} {
		.grid, .col-8-12 {
			padding-right: 0;
		}	
	}
}
.programs-submenu {
	ul {
		-moz-column-count: 2;
	    -moz-column-gap: 100px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 100px;
	    column-count: 2;
	    column-gap: 100px;
	    @media screen and #{$brk-big-max} {
	    	column-gap: 50px;
	    	padding-left: 0;	
	    }
	    @media screen and #{$brk-tablet-min} and #{$brk-wide} {
	    	column-gap: 6px;
	    	padding-left: 30px;
	    }
	    li a p {
    		margin-bottom: 2em;
    		font-family: $stack-sans-serif;
    		&:first-of-type {
    			margin-top: 0;
    		}
    		@media screen and #{$brk-tablet-min} and #{$brk-wide} {
    			font-size: 16px;
    		}

	    }
	}
}
@media handheld, only screen and (max-width: 900px) {
	.programs-submenu {
   		display: none !important;
   	}
    .site-nav {
        position: fixed;
        z-index: 10;
        top: 0px; 
        right: 0px;
        margin-top: 0;
        width: 100%;
        background-color: transparent;
    }
    .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: $blue-dark;
        float: right;
        width: 72px;
        padding: 30px;
        text-align: center;
        line-height: 36px;
    }
    .menu-icon.icon-active {
        background-color: white;
        padding: 30px;
        svg {
            fill: $blue;
        }
    }
    .site-nav .menu-icon svg { 
        width: 18px; 
        height: 16px;
    }
    .site-nav .trigger {
        clear: both;
        padding-bottom: 20px;
        padding-top: 20px;  
        display: none;
    }
    .hoverTouch {
        display: block !important;
    }
    .site-nav .page-link {
        display: block;
        text-align: left;
        line-height: 1.25;
        padding: 5px 65px 5px 10px;
        margin: 0;
    }
    nav ul {
    	padding: 0;
    	text-align: center;
    	li {
    		display: block;
	    	a {
	    		padding: 20px;
	    	}
	    }
	  	.button {
	  		display: none;
	  	}
	  	.nav-programs a {
	  		background-color: white !important;
	  		border: none !important;
	  	}
    }
}