// Helpers
div.clearfix {
    clear:both;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}


nav {
	float:right;
	ul {
		list-style: none;
		li {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.site-footer {
	background:$blue-dark;
	color:#fff;
}