//push page content to the nav's height
.page-content, footer {
	top: 100px;
	position: relative;
}
header {
    height: 100px;
    flex-shrink: 0;
    width:100%;
    background: #ffffff;
    position: fixed;
    z-index: 9999;
    .site-title img {
    	margin-top: 18px;
    	width: 190px;
    }
}
nav {
	float: right;
	//margin-top: 10px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			p.button {
				margin-left: 18px;
			}
			a p {
				letter-spacing: 1.2px;
				margin: 0 24px;
				&:hover {
	            	color: $blue-dark;
		        }
		        &.active {
		            margin-top: 0;
		            color: $orange;
		            position: relative;
			        @media screen and #{$brk-tablet-min} {
		                &:before {
		                    top: -33px;
    						height: 5px;
    						border-radius: 3px;
		                    display: block;
		                    content: '';
		                    position: relative;
		                    width: 0%;
		                    background-color: $orange;
		                    animation-name: grow-x;
		                    animation-duration: 0.3s;
		                    animation-fill-mode: forwards;
		                    animation-timing-function: ease;
		                    animation-delay: 0.5s
		                }
					}
				}
			}
		}
	}
}

@keyframes grow-x {
    to {
        width: 100%
    }
}
