.programs-nav {
	padding: 20px 0;
	.col-1-6 {
		padding: 0 1.6%;
	}
}
.program-blurb {
	.button a {
		padding: 0;
	}
	.white {
		padding: 3px 33px;
		border-bottom-left-radius: 4px;
    	border-bottom-right-radius: 4px;
	}
	.pink {
		border-top-left-radius: 4px;
    	border-top-right-radius: 4px;
	}
	h3 {
		padding: 33px;
    	margin: 0;
	}
}
.program-img {
	height: auto;
	max-height: 950px;
	&:not(:nth-of-type(2)) {
		margin-top: 10px;
	}
	&:after {
        padding-bottom: 26%;
        content: "";
        display: block;
        @media screen and (min-width: 1440px) { 
            padding-bottom: 24%;
        }
    }
}
.individual-program {
	.program-title {
		h1 {
			padding: 55px 0px 10px 0;
		}
	}
	.social-icons {
		li {
			margin-top: 7.5%;
			display: inline-block;
			&:not(:first-of-type) {
				margin-left: 15%;
			}
		}
	}
	.fast-facts {
		.col-1-3 {
			padding: 0 4.5%;
		}
	}
	.block-overlap {
		.button {
			display: inline-block;
			margin-top: 3%;
		}
	}
	.col-4-12 {
		.button {
			padding-left: 40px;
			.orange {
				width: 230px;
			}
		}
	}
}
.transitional-aged-youth {
	.individual-program {
		.program-title {
			background-color: $mint; 
			color: white;
		}
		.program-subtitle, .section-copy-rest {
			background-color: $mint-light;
			color: white;
		}
		.fast-facts {
			background-color: $purple-dark;
			color: white;
			h1 {
				color: $mint;
			}
		}
		.block-overlap {
			background-color: $purple-light;
		}
	}
}
.family-community {
	.individual-program {
		.program-title {
			background-color: $purple-light;
			color: white;
		}
		.program-subtitle, .section-copy-rest {
			background-color: $purple-dark;
			color: white;
		}
		.fast-facts {
			background-color: $mint-light;
			color: white;
			h1 {
				color: $purple-dark;
			}
		}
		.block-overlap {
			background-color: $mint;
		}
	}
}
.residential {
	.individual-program {
		.program-title {
			background-color: $orange; 
			color: white;
		}
		.program-subtitle, .section-copy-rest {
			background-color: $red-dark;
			color: white;
		}
		.fast-facts {
			background-color: $blue-dark;
			color: white;
			h1 {
				color: $orange;
			}
		}
		.block-overlap {
			background-color: $blue;
		}
	}
}
.intensive-home-based-services {
	.individual-program {
		.program-title {
			background-color: $yellow; 
			color: white;
		}
		.program-subtitle, .section-copy-rest {
			background-color: $yellow-dark;
			color: white;
		}
		.fast-facts {
			background-color: $orange;
			color: white;
			h1 {
				color: $yellow;
			}
		}
		.block-overlap {
			background-color: $red-dark;
		}
	}
}
.foster-and-adoptive-families {
	.individual-program {
		.program-title {
			background-color: $pink-light; 
			color: white;
		}
		.program-subtitle, .section-copy-rest {
			background-color: #b672a9; //$pink
			color: white;
		}
		.fast-facts {
			background-color: $blue-dark;
			color: white;
			h1 {
				color: $yellow;
			}
		}
		.block-overlap {
			background-color: $blue;
		}
		#tab-1, #tab-2 {
			.img-settings {
    			min-height: 500px;
    			.button a {
    				width: 225px;
    			}
    		}
			.tab-content {
				margin-top: -8em;
				position: relative;
				.col-8-12 {
					margin-top: 8em;
					position: relative;
				}
			}
			.stories-section {
				.button {
					margin-top: 3em;
				}
			}
			.quote-section {
				padding-right: 0;
				.color-block-image {
					width: 400px;
					height: 290px;
	    			margin-left: -20px;
	    			div {
	    				width: 400px;
						height: 290px;
						background-size: cover;
	    			}
	    		}
	    		.pink {
	    			height: 500px;
	    		} 
	    		h2 {
	    			color: #b672a9;
	    			margin-bottom: 0; 
	    			margin-top: 0;
	    			padding-top: 15px;
	    		}
	    		h3 {
	    			font-family: $stack-serif;
	    			padding: 0 1.7em;
	    			margin: 0 0 20px 0;
	    			font-style: italic;
	    		}
			}
			.story-slider-item {
				.col-1-2 {
					min-height: 320px;
					margin: 0;
					&:first-of-type {
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
					}
					&:nth-of-type(2) {
						border-top-right-radius: 4px;
						border-bottom-right-radius: 4px;
						padding: 20px;
					}
					a:hover {
						color: $blue-hover;
					}
				}
			}
		}
		.links-box {
			padding: 35px;
			border-radius: 4px;
			margin-bottom: 3em;
			ul {
				padding: 0;
				a p {
					margin: 10px 0;
				}
			}
			.social-icons {
				margin-top: 2em;
			}
			hr {
				border-top: 1px solid white;
			}
		}
		.tabs {
			padding-left: 0;
			position: relative;
    		z-index: 99;
			li {
				display: inline-block;
				margin-right: 2em;
				a {
					color: $grey-darkest;
					&.active {
						color: $blue;
		                &:before {
		                	content: '';
		                    top: 50px;
							height: 5px;
							border-radius: 3px;
		                    display: block;
		                    position: relative;
		                    width: 0%;
		                    background-color: $blue;
		                    animation-name: grow-x;
		                    animation-duration: 0.3s;
		                    animation-fill-mode: forwards;
		                    animation-timing-function: ease;
		                    animation-delay: 0.5s
		                }
					}
				}
			}
		}
	}
}	