.home {
	.slick-next {
		right: 60px;
	}
	.slick-prev {
		left: 53px;
		z-index: 10;
	}
	.slick-arrow {
		@media screen and #{$brk-narrow} {
			display: none !important;
		}
	}
}
.stats-front {
	float: right;
    text-align: center;
    color: white;
    position: relative;
    z-index: 20;
    ul {
    	padding: 0;
    }
    h1 {
    	font-size: 3.5em;
    	margin-bottom: 0;
    	margin-top: 30px;
    }
    h5 {
    	margin-top: -6px;
    	padding: 0 3em;
    	@media screen and #{$brk-wide} {
    		padding: 0 2em;
    	}
    }
    h3 {
    	margin-bottom: 0;
    	margin-top: 50px;
    }
    @media screen and #{$brk-wide} {
    	float: none;
    	margin: 0 auto;
    }
}
.stats-bg {
	background-position: 0px 100px;
	padding-bottom: 8%;
	@media screen and #{$brk-wide} {
		background-position: 0px;
		&:before {
			content: "";
		    position: absolute;
		    height: 100%;
		    display: block;
		    top: 0;
		    width: 100%;
			background-color: rgba(0,0,0,0.3);			
		}
	}
}
.latest-front {
	.col-1-3 {
		padding-right: 0;
		height: 303px;
		position: relative;
		.caption {
			text-align: center;
    		background-color: rgba(255, 255, 255, 0.2);
    		width: 45%;
    		padding: 7px 25px;
    		@media screen and #{$brk-narrow} {
    			width: 50%;
    		}
		}
		.latest-content {
			text-align: center;
			padding: 5% 8%;
		    position: absolute;
		  	top: 50%;
		  	left: 0;
   	 		right: 0;
		  	transform: translateY(-50%);
		    margin: 0;
		    display: block;
		}
		.img-settings {
			height: 303px;
		}
		&.orange {
			.latest-content {
				h3, a h3 {
					color: lighten($yellow, 20%);
				}
			}
		}
		.overlay-orange {
			.overlay-content {
				h3 {
					color: lighten($yellow, 20%);
				}
			}
		}
		.overlay-blue-dark {
			.overlay-content {
				h3 {
					color: $orange;
				}
			}
		}
		.overlay-blue, .overlay-yellow  {
			.overlay-content {
				h3 {
					color: $blue-dark;
				}
			}
		}
		.overlay-orange, .overlay-blue, .overlay-yellow, .overlay-blue-dark {
			opacity: 0;
			.overlay-content {
				img {
					display: block;
			    	margin: 0 auto;
			    	width: 30px;
				}
				.button a {
					margin-top: 0;
				}
			}
			&:after {
				opacity: 0;
	   	 		z-index: 20;
			}
		}
		&:hover {
			.overlay-orange:after {
				background-color: lighten($orange, 10%);
			}
			.overlay-blue-dark:after {
				background-color: lighten($blue-dark, 5%);
			}
			.overlay-blue:after {
				background-color: lighten($blue, 10%);
			}
			.overlay-yellow:after {
				background-color: lighten($yellow, 10%);
			}
			.overlay-orange, .overlay-blue, .overlay-yellow, .overlay-blue-dark {
				opacity: 1;
				@include transition(0.4s);
				.overlay-content {
					text-align: center;
					padding: 5% 8%;
				    position: absolute;
				    z-index: 30;
				  	top: 50%;
				  	left: 0;
		   	 		right: 0;
				  	transform: translateY(-50%);
				    margin: 0;
				    display: block;
				}
				&:after {
					@include transition(0.4s);
				    content: '';
				    top: 0;
				    opacity: 1;
				    left: 0;
				    z-index: 20;
				    height: 100%;
				    width: 100%;
				    display: block;
				    position: absolute;
				}
			}
			
		}
	}
	@media screen and #{$brk-big-max} {
		.col-1-3 {
			margin: 0;
		}
		.grid {
			padding: 0;
		}
	}
}

//for parallax effect

.prlx-bg {
	background-attachment: fixed;
	z-index: 20;
	@media screen and #{$brk-wide} {
		background-attachment: scroll;
	}
}
.prlx-item {
	position: relative;
	z-index: 20;
	&:first-of-type {
		margin-top: 650px;
		@media screen and (min-width: 1024px) and (max-width: 1280px) {
			margin-top: 530px;
		}
		@media screen and #{$brk-narrow} {
			margin-top: 350px;
		}
	}
}
.campaign-slider {
	position: fixed !important;
	top: 100px;
	width: 100%;
	.campaign-content {
		z-index: 20;
    	position: relative;
    	width: 35%;
    	.button {
    		display: block;
    	}
    	h5 {
    		margin-top: 15px;
    	}
		@media screen and #{$brk-tablet-min} and (max-width: 1279px) {
			padding-left: 10%;
			width: 45%;
		}
		@media screen and #{$brk-narrow} {
			width: 100%;
			margin-top: -40px;
			h2, h5, p, .button {
				text-align: center !important;
				display: inherit;
			}
			h5 {
				margin-top: 0;
			}
		}
	}
	.slider-item {
		height: 650px;
		background-position: 100% 100%;
		@media screen and (min-width: 1024px) and (max-width: 1280px) {
			height: 530px;
		}
		@media screen and #{$brk-narrow} {
			height: 350px;
		}
		@media screen and #{$brk-wide} {
			&:before {
				content: "";
			    position: absolute;
			    height: 100%;
			    display: block;
			    top: 0;
			    width: 100%;
				background-color: rgba(255,255,255,0.4);			
			}
		}
		h1 {
			margin: 0;
		}
		h4 {
			margin-bottom: 0;
		}
	}
}
.rewarding {
	h3 {
		max-width: 522px; 
		margin:0 auto;
	}
}
.adopt-cta {
	min-height: 700px;
	@media screen and #{$brk-narrow} {
		background-position: 75%;
		min-height: 400px;
		width: 100%;
	}
}