// Helpers
div.clearfix {
    clear:both;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}

hr {
	border:0;
	border-top:1px solid #fff;
}

.red {
	background-color: $orange;
}

.dark-blue {
	background-color: $blue-dark;
}

.color-blue {
	color: $blue;
}

.color-blue-dark {
	color: $blue-dark;
}

.color-white {
	color: #ffffff;
}

.center {
	float: none;
	margin: 0 auto;
}