// Helpers
div.clearfix {
    clear:both;
}
ul li {
	list-style-type: none;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.img-settings {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    position: relative;
}
.section-photo {
    height: auto;
    max-height: 950px;
    [class*='col-'] {
        padding-right: 0;
    }
    &:after {
        padding-bottom: 14%;
        content: "";
        display: block;
        @media screen and (min-width: 1440px) { 
            padding-bottom: 28%;
        }
    }
}
.block-overlap {
    margin: -4em auto auto auto !important;
    width: 90% !important;
    position: relative;
}
.color-blue {
	color: $blue;
}
.color-blue-dark {
	color: $blue-dark;
}
.color-white {
	color: #ffffff;
}
.color-yellow {
	color: $yellow;
}
.color-mint {
	color: $mint;
}
.color-orange {
	color: $orange;
}
.color-pink {
	color: $pink;
}
.center {
	float: none;
	margin: 0 auto;
}
.color-purple {
	color: $purple-light;
}
.color-purple-dark {
	color: $purple-dark;
}
hr {
	border:0;
	border-top: 1px solid #979797;
}
section {
	padding: 90px 0;
}
section, div, span {
	&.blue {
		background-color: $blue;
		color: #fff;
	}
	&.blue-dark {
		background-color: $blue-dark;
		color: #fff;
	}
	&.orange {
		background-color: $orange;
		color: #fff;
	}
	&.yellow {
		background-color: $yellow;
		color: #fff;
	}
	&.grey {
		background-color: $grey;
		color: $blue-dark;
	}
	&.purple-dark {
		background-color: $purple-dark;
		color: #fff;
	}
	&.pink {
		background-color: $pink;
		color: #fff;
	}
	&.mint {
		background-color: $mint;
		color: #fff;
	}
	&.white {
		background-color: #fff;
		color: $blue-dark;
	}
}

.no-padding-top {
	padding-top:0 !important;
}

