.about {
    .cta-btns {
        padding: 40px 0;
    }
    .our-vision {
        h1 {
            margin-top: 0;
        }
        h1, p {
            @media screen and #{$brk-narrow} {
                text-align: center;
            }
        }
    }
    @media screen and #{$brk-narrow} {
        .cta-btns {
            padding: 20px 0 0 0;
            .col-1-3 {
                display: table;
                padding: 0;
                img, p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left !important;
                    padding: 10px;
                }
                img {
                    width: 70px;
                }
            }
        }
    }
    @media screen and #{$brk-wide} {
        .hero-img {
            background-position: 78% 100%;
        }
        .section-photo {
            background-position: 10% 100%;
        }
    }
}
.value-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    @media screen and #{$brk-narrow} {
        -webkit-flex-flow: row wrap;
    }
}
.value-item {
    font-weight: bold;
    text-align: center;
    flex: 1 0 0px;
    height: auto;
    padding: 60px 0;
    cursor: pointer;
    height: 300px;
    @include transition(.2s);
    @media screen and #{$brk-narrow} {
        flex: 1 100%;
        height: 200px;
        padding: 20px 0;
    }
    .hover {
    	display: none;
    }
    p {
    	width: 50%;
    	margin: 15px auto 0 auto;
        @media screen and #{$brk-narrow} {
            width: 85%;
            margin: 15px auto;
        }
        @media screen and #{$brk-tablet-min} and (max-width: 1160px) {
            width: 75%;
        }
    }
    &:hover {
    	color: #fff;
    	h2 { color: #fff; }
    	p.nohover {
    		display: none;
    	}
    	.hover {
    		display: block;
    	}
    }
    &.value-orange:hover { background: $orange; }
    &.value-green:hover { background: $green; }
    &.value-blue:hover { background: $blue; }
    &.value-yellow:hover { background: $yellow; }
}
.leadership {
	.col-1-3 {
		padding: 10px 60px;
        @media screen and #{$brk-narrow} {
            padding: 10px;
        }
        @media screen and #{$brk-tablet-min} and (max-width: 1160px) {
            padding: 10px 30px;
        }
		p.position {
            color: #fff;
			opacity: .6;
		}	
	}
	.color-blue-dark {
		font-style: italic;
		padding: 20px 0;
	}
    .small.caps {
        color: #fff;
    }
}

//Staff subpages
.bio {
    .col-1-1 p a, h4 {
        color: #fff;
        opacity: .6;
    }
}