<li class="post">
    <div class="white">
        {% if blogpost.heroImage %}
        <a href="/blog/{{ blogpost.url }}">
            <div class="img-post" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.heroImage.title }}"></div>
        </a>
        {% endif %}
        <div class="blog-excerpt">
            {% if blogpost.blogCategory.name != nil or blogpost.blogCategory.name != '' %}
            <p class="caps small">{{ blogpost.blogCategory.name }}</p>
            {% endif %}
            <a href="/blog/{{ blogpost.url }}"><h4 class="round color-blue no-margin-top">{{ blogpost.title }}</h4></a>
            <p>{{ blogpost.postBody | truncatewords:75 | markdownify }}</p>
        </div>

        {% include blog-buttons.html %}

    </div> 
</li>