<section class="grey" style="padding: 40px 0;">
	<div class="grid">
		<h3 class="blue text-center">Provide a child with the love and support to thrive</h3>
		<section class="cta-btns">
			<div class="col-1-3 text-center tablet-col-1-3">
				<img src="/assets/img/House_Love.svg" width="35%" class="center">
				<p class="italic"><a href="/programs/foster-and-adoptive-families/apply">Become a Foster or Adoptive Family &#62;</a></p>
			</div>
			<div class="col-1-3 text-center tablet-col-1-3">
				<img src="/assets/img/joinOurTeam.svg" width="35%" class="center">
				<p class="italic"><a href="/careers">Join our team &#62;</a></p>
			</div>
			<div class="col-1-3 text-center tablet-col-1-3">
				<img src="/assets/img/donate.svg" width="35%" class="center">
				<p class="italic"><a href="/donate">Donate &#62;</a></p>
			</div>
		</section>
	</div>
</section>