<div class="white color-blue-dark donate-form">
	<h3 class="no-margin-top">Give Love and Support. Give to Aspiranet</h3>
		<p class="bold">Donation Amount:</p>
		<div class="box-amount active" data-amount="2500"><p>$25</p></div>
		<div class="box-amount" data-amount="5000"><p>$50</p></div>
		<div class="box-amount" data-amount="10000"><p>$100</p></div>
		<div class="box-amount" data-amount="25000"><p>$250</p></div>
		<div class="box-amount" data-amount="50000"><p>$500</p></div>
		<p class="bold">Donation type:</p>
		<form class="radio-btns">
			<input type="radio" name="frequency" value="One Time" id="freq1" checked="checked"><label for="freq1">&nbsp;One Time</label>
			<input type="radio" name="frequency" value="Monthly" id="freq2"><label for="freq2">&nbsp;Monthly</label>
		</form>
		<div style="margin-top: 20px;">
			<input type="checkbox" checked="checked" name="subscribeNewsletter" id="subscribeNewsletter"/> 
			<label for="subscribeNewsletter">Subscribe to Newsletter</label>
		</div>

		<div class="stripe-button-el">
			<p class="button small caps">
				<a class="button orange">Donate</a>
			</p>
		</div>
</div>

