
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/assets/js/lib/numeric.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$(".otherAmount").numeric();

	$('.box-amount').click(function(e){
		e.preventDefault();
		$('.box-amount').removeClass('active');
		$(this).addClass('active');
		if ($('.box-amount.active').data('amount')=='other') {
			$('.otherAmount').show();
		} else {
			$('.otherAmount').hide();
		}
	});

	var handler = StripeCheckout.configure({
	  key: 'pk_test_CcJ5eDBc16xWScQJGMAHowdy',
	  locale: 'auto'
	});

	$('.stripe-button-el').click(function(){
		// get the current selected amount
		var amount = $('.box-amount.active').data('amount');
		if (amount=='other'){
			amount = $('input.otherAmount').val()*100;
		}

	  	var token = function(res){
		    var $id = $('<input type=hidden name=stripeToken />').val(res.id);
		    var $email = $('<input type=hidden name=stripeEmail />').val(res.email);
		    $.ajax({
	          url: 'https://tranquil-mesa-11288.herokuapp.com/charge.php',
	          type: 'post',
	          data: {tokenid: res.id, email: res.email, donationAmt: amount},
	          success: function(data) {
	            if (data == 'success') {
	                console.log("Card successfully charged!");
	            }
	            else {
	                console.log("Success Error!");
	            }

	          },
	          error: function(data) {
	            console.log("Ajax Error!");
	            console.log(data);
	          }
	        }); // end ajax call
		  };

	  handler.open({
	    amount:      amount,
	    name:        'Donate to Aspiranet',
	    description: 'Empower Children and Families',
	    panelLabel:  'Donate',
	    token:       token
	  });

	  return false;
	});
});

</script>