<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="text-center">
	<form action="/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate netlify-honeypot="b_c99a3774609ac3334ff9eda08_a3cb85293b">
		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group" style="display: inline-block;">
				<label for="mce-EMAIL" style="display: none;">Email Address  <span class="asterisk">*</span></label>
				<input type="email" value="" placeholder="Enter E-mail" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
		   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c99a3774609ac3334ff9eda08_a3cb85293b" tabindex="-1" value=""></div>
			<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" style="vertical-align: top; display: inline-block; margin-left: 8px;">
		</div>
	</form>
</div>
<!--End mc_embed_signup-->
 