<footer class="site-footer">
	<section class="wrapper blue-dark">
		<div class="grid">
			<div class="col-8-12 center">
				<div class="text-center" style="margin-bottom: 30px;">
					{{ site.data.contentful.spaces.proddata.rootWebsite[0].footerSignupText | markdownify }}
				</div>

				{% include emailform.html %}
			</div>
			<hr style="margin: 4em 0 3em 0;"></hr>
			<div class="clearfix"></div>
			<div class="col-1-4 text-center">
				<p class="small caps" style="font-size: 11px;">Follow us on</p>
				<ul class="social-icons">
					<li><a href="#"><img src="{{ site.image_path }}/twitter-logo.svg" alt="follow us on twitter" /></a></li>
					<li><a href="#"><img src="{{ site.image_path }}/facebook 3.svg" alt="follow us on facebook" /></a></li>
					<li><a href="#"><img src="{{ site.image_path }}/email 2.svg" alt="email us" /></a></li>
				</ul>
			<p class="button small caps">
				<a href="/donate" class="button orange">Donate</a>
			</p>
			</div>
			
			<div class="col-1-4 text-center">
				<p class="small caps"><strong>Programs</strong></p>
				<ul>
					<li><a href="/find-program"><p class="small caps color-blue">Find a program</p></a></li>
					<li><a href="/programs"><p class="small caps color-blue">Programs</p></a></li>
					<li><a href="/our-approach"><p class="small caps color-blue">Approach</p></a></li>
				</ul>
			</div>
			<div class="col-1-4 text-center">
				<p class="small caps"><strong>About Us</strong></p>
				<ul>
					<li><a href="/blog"><p class="small caps color-blue">Blog</p></a></li>
					<li><a href="/contact"><p class="small caps color-blue">Contact</p></a></li>
					<li><a href="/careers"><p class="small caps color-blue">Careers</p></a></li>
					<li><a href="/about"><p class="small caps color-blue">About</p></a></li>
				</ul>
			</div>
			<div class="col-1-4 text-center">
				<p class="small caps"><strong>More</strong></p>
				<ul>
					<li><a href="/sitemap.xml" target="_blank"><p class="small caps color-blue">Sitemap</p></a></li>
					<li><a href="/privacy-policy"><p class="small caps color-blue">Privacy Policy</p></a></li>
					<li><a href="/hipaa-privacy-notice"><p class="small caps color-blue">HIPPA Privacy <br /> Notice</p></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<div>
		<p class="text-center caps color-blue-dark" style="font-size: 10px;">With excellence since 1977</p>
		<div class="grid">
			<ul class="footer-partners col-1-2 center">
				<li><img src="{{ site.image_path }}/Icon.svg" /></li>
				<li><img src="{{ site.image_path }}/Alliace1icon.svg" /></li>
				<li><img src="{{ site.image_path }}/CaliforniaAlliance.svg" /></li>
				<li><img src="{{ site.image_path }}/Icon2.svg" /></li>
			</ul>
		</div>
	</div>
</footer>
<script src="/assets/js/lib/unslider-min.js"></script>
<script src="/assets/js/lib/remodal.min.js"></script>
<script src="/assets/js/lib/main.js"></script>

