<footer class="site-footer">
	<div class="wrapper">
		<div class="grid">
			<h1 class="text-center">Sign up for updates</h1>
			<p class="text-center">Email is how we share the stories of strong families and communities. Sign up to follow their progress and for important Aspiranet updates.</p>

			{% include mailchimp.html %}
			
			<div class="clearfix"></div>
			<div class="col-1-4">
				<p>Follow us on</p>
				<ul>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
				</ul>
			<a href="#" class="button red">Donate</a>
			</div>
			<div class="col-1-4">
				<p>Programs</p>
				<ul>
					<li><a href="#">Find a program</a></li>
					<li><a href="/insights">Insights</a></li>
					<li><a href="/programs">Programs</a></li>
				</ul>
			</div>
			<div class="col-1-4">
				<p>About Us</p>
				<ul>
					<li><a href="/our-approach">Our Approach</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="col-1-4">
				<p>Company</p>
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">HIPPA Privacy Notice</a></li>
					<li><a href="/sitemap.xml">Sitemap</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<p class="text-center">All contents copyright Aspiranet.org 1997-present. All Rights reserved</p>
		</div>
	</div>
</footer>
<script src="/assets/js/lib/jquery.min.js"></script>
<script src="/assets/js/lib/main.js"></script>