<div class="col-3-12 blue-dark push-1-12 links-box">
	<p class="small caps">Foster &amp; Adoptive Families</p>
	<hr>
	<ul>
		<li><a href="/programs/foster-and-adoptive-families/steps" class="color-white"><p>Steps ></p></a></li>
		<li><a href="/programs/foster-and-adoptive-families/requirements" class="color-white"><p>Requirements ></p></a></li>
		<li><a href="/programs/foster-and-adoptive-families/faq" class="color-white"><p>FAQ ></p></a></li>
		<li><a href="/programs/foster-and-adoptive-families/locations" class="color-white"><p>Locations ></p></a></li>
	</ul>
	<ul class="social-icons">
		<p class="caps round small no-margin-top">Share the program</p>
		<li><a href="{{ site.baseurl }}/{{ page.url }}"><img src="{{ site.image_path }}/twitter.svg" alt="share on twitter" /></a></li>
		<li><a href="https://twitter.com/intent/tweet?text={{ page.contentful_fields.title }}&amp;url={{ page.url }}&amp;via={{ site.twitter_username }}&amp;related={{ site.twitter_username }}"><img src="{{ site.image_path }}/facebook.svg" alt="share on facebook" /></a></li>
		<li><a href="mailto:?&amp;body={{ page.contentful_fields.title }}%20{{ page.url }}"><img src="{{ site.image_path }}/email.svg" alt="email program" /></a></li>
	</ul>
</div>
