<div class="white">
	<div class="grid">
		<ul class="tabs">
			<li><a href="#tab-1"><p class="small caps">Be a foster family</p></a></li> 
			<li><a href="#tab-2"><p class="small caps">Adopt a child</p></a></li>
		</ul>
	</div>
	{% assign fosterAndAdoptiveContent = site.data.contentful.spaces.proddata.fosterAdoptiveFamilies[0] %}
	<div id="tab-1">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				<p>{{ fosterAndAdoptiveContent.beAFosterFamilyTab | markdownify }}</p>
			</div>
			{% include foster-and-adoptive-sidebar.html %}
		</div>
		{% if fosterAndAdoptiveContent.fosterFamilyPhotoFull.url %}
		<div style="background-image: url('{{ fosterAndAdoptiveContent.fosterFamilyPhotoFull.url }}');" class="img-settings program-img center-vertical">
			<div class="grid">
				<div class="push-right text-center">
					<h2 class="color-white">Become a foster parent</h2>
					<p class="button"><a class="orange" href="/programs/foster-and-adoptive-families/apply">Apply Now</a></p>
					<p class="button"><a class="transparent" href="/programs/foster-and-adoptive-families/requirements">See Requirements</a></p>
				</div>
			</div>
		</div>
		{% endif %}
		<!-- <section class="blue-dark stories-section">
			<div class="grid text-center">
				<h2 class="no-margin-top">Stories from foster families</h2>
				<div class="stories-slider"> 
					{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost %}
					{% for blogpost in sorted_news %}
							{% if blogpost.blogTag.name == "Foster" or blogpost.blogTag.name == "Family" or blogpost.blogTag.name == "Foster or Adoptive Services" %}
				                    <div class="story-slider-item flex-container col-8-12 center">
			                            {% if blogpost.heroImage %}
		                                <div class="img-settings col-1-2 white" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.hrefroImage.title }}">
		                                </div>
			                            {% endif %}
			                            <div class="col-1-2 white text-left">
			                                <p class="small caps round grey">{{ blogpost.blogTag.name }}</p>
			                                <p class="round blue">{{ blogpost.title }}</p>
			                                <p>{{ blogpost.postBody | truncatewords:33 | markdownify }}</p>
			                                <a href="/blog/{{ blogpost.url }}"><p class="italic">READ MORE ></p></a>
			                            </div>
				                    </div>
							{% endif %}
					{% endfor %}
				</div>
					<p class="button"><a class="orange" href="/blog">See all stories</a></p>
				</div>
		</section> -->
		<section class="white">
			<div class="grid">
				<div class="col-7-12 color-blue-dark">
					<p>{{ fosterAndAdoptiveContent.fosterCopyRest | markdownify}}</p>
				</div>
				<div class="col-4-12 quote-section push-1-12">
					<div class="color-block">
						<h2 class="text-center">&mdash;</h2>
						<h4 class="italic text-center">{{ fosterAndAdoptiveContent.fosterFamilyPullQuote}}</h4>
						<div class="color-block-image">
						<div style="background-image: url('{{ fosterAndAdoptiveContent.fosterFamilyPhotoSmall.url }}');" alt="{{ fosterAndAdoptiveContent.fosterFamilyPhotoSmall.title }}">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="tab-2">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				<p>{{ fosterAndAdoptiveContent.adoptAChildTabCopy | markdownify}}</p>
			</div>
			{% include foster-and-adoptive-sidebar.html %}
		</div>
		{% if fosterAndAdoptiveContent.adoptAChildPhotoFull.url %}
		<div style="background-image: url('{{ fosterAndAdoptiveContent.adoptAChildPhotoFull.url }}');" class="img-settings program-img center-vertical">
			<div class="grid">
				<div class="push-right text-center">
					<h2 class="color-white">Adopting a child</h2>
					<p class="button"><a class="orange" href="/programs/foster-and-adoptive-families/apply">Apply Now</a></p>
					<p class="button"><a class="transparent" href="/programs/foster-and-adoptive-families/requirements">See Requirements</a></p>
				</div>
			</div>
		</div>
		{% endif %}
		<!-- <section class="blue-dark stories-section">
			<div class="grid text-center">
				<h2 class="no-margin-top">Stories from adoptions</h2>
				<div class="stories-slider">
					{% for blogpost in sorted_news %}
					{% if blogpost.blogTag.name == "Adoption" or  blogpost.blogTag.name == "Foster and Adoptive Services" %}
					<div class="story-slider-item flex-container col-8-12 center">
                        {% if blogpost.heroImage %}
                        <div class="img-settings col-1-2 white" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.hrefroImage.title }}">
                        </div>
                        {% endif %}
                        <div class="col-1-2 white text-left">
                            <p class="small caps round grey">{{ blogpost.blogTag.name }}</p>
                            <p class="round blue">{{ blogpost.title }}</p>
                            <p>{{ blogpost.postBody | truncatewords:33 | markdownify }}</p>
                            <a href="/blog/{{ blogpost.url }}"><p class="italic">READ MORE ></p></a>
                        </div>
	                </div>
					{% endif %}
                	{% endfor %}
				</div>
				<p class="button"><a class="orange" href="/blog">See all stories</a></p>
			</div>
		</section> -->
		<section class="white">
			<div class="grid">
				<div class="col-7-12 color-blue-dark">
					<p>{{ fosterAndAdoptiveContent.adoptAChildCopyBottom | markdownify}}</p>
				</div>
				<div class="col-4-12 quote-section push-1-12">
					<div class="pink">
						<h2 class="text-center">&mdash;</h2>
						<h4 class="text-center italic">{{ fosterAndAdoptiveContent.adoptAChildPullQuote}}</h4>
						<div class="color-block-image">
						<div style="background-image: url('{{ fosterAndAdoptiveContent.adoptAChildPhotoSmall.url }}');" alt="{{ fosterAndAdoptiveContent.adoptAChildPhotoSmall.title }}">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<script src="/assets/js/foster-adoptive.js"></script>