<div class="white">
	<div class="grid">
		<ul class="tabs">
			<li><a href="#tab-1"><p class="small caps">Be a foster family</p></a></li> 
			<li><a href="#tab-2"><p class="small caps">Adopt a child</p></a></li>
		</ul>
	</div>
	{% assign fosterAndAdoptiveContent = site.data.contentful.spaces.proddata.fosterAdoptiveFamilies[0] %}
	<div id="tab-1">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				<p>{{ fosterAndAdoptiveContent.beAFosterFamilyTab | markdownify }}</p>
			</div>
			{% include foster-and-adoptive-sidebar.html %}
		</div>
		{% if fosterAndAdoptiveContent.fosterFamilyPhotoFull.url %}
		<div style="background-image: url('{{ fosterAndAdoptiveContent.fosterFamilyPhotoFull.url }}');" class="img-settings apply-img center-vertical img-overlay-left">
			<div class="grid">
				<div class="text-left">
					<h2 class="color-white">Become a foster parent</h2>
					<p class="button"><a class="orange" href="/programs/foster-and-adoptive-families/apply">Apply Now</a></p>
					<p class="button"><a class="transparent" href="/programs/foster-and-adoptive-families/requirements">See Requirements</a></p>
				</div>
			</div>
		</div>
		{% endif %}
		<section class="blue-dark stories-section hide-on-mobile">
			<div class="grid text-center">
				<h2 class="no-margin-top">Stories from foster families</h2>
				<div class="stories-slider"> 
				{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort: "date" %}
				{% capture tag_list %}{% for blogpost in sorted_news %}{% for tag in blogpost.blogTag %}|{{tag.name}}{% endfor %}{% endfor %}{% endcapture %}
		        {% assign tag_array = tag_list | remove_first: "|" | split: "|" | uniq %}
	            {% for tag in tag_array %}
	            {% if tag == "Foster" or tag == "Foster or Adoptive Services" %}
	            {% for blogpost in sorted_news %}
	            <div class="story-slider-item">
		            {% if blogpost.thumbnailToBeDisplayedOnHomepage or blogpost.heroImage %}
		            <div class="img-settings white slider-img" style="background-image: url('{% if blogpost.thumbnailToBeDisplayedOnHomepage %}{{ blogpost.thumbnailToBeDisplayedOnHomepage.url }} {% else %} {{ blogpost.heroImage.url }}{% endif %}');" alt="{{ blogpost.heroImage.title }}">
		            </div>
		            {% else %}
		            {% endif %}
		            <div class="white text-left slider-copy">
		                <p class="small caps round grey">{{ tag }}</p>
		                <a href="/blog/{{ blogpost.url }}"><p class="round blue">{{ blogpost.title }}</p></a>
		                <p>{{ blogpost.postBody | truncatewords:20 | markdownify }}</p>
		                <a class="read-more" href="/blog/{{ blogpost.url }}"><p class="italic">READ MORE ></p></a>
		            </div>
		        </div>
		        {% endfor %}
				{% endif %}
	            {% endfor %}
				</div>
					<p class="button"><a class="orange" href="/blog">See all stories</a></p>
				</div>
		</section>
		<section class="white">
			<div class="grid">
				<div class="col-7-12 color-blue-dark">
					<p>{{ fosterAndAdoptiveContent.fosterCopyRest | markdownify}}</p>
				</div>
				<div class="col-4-12 quote-section push-1-12">
					<div class="color-block">
						<h2 class="text-center">&mdash;</h2>
						<p class="italic text-center">{{ fosterAndAdoptiveContent.fosterFamilyPullQuote}}</p>
						<div class="color-block-image fadeInBlockOnScroll">
						<div style="background-image: url('{{ fosterAndAdoptiveContent.fosterFamilyPhotoSmall.url }}');" alt="{{ fosterAndAdoptiveContent.fosterFamilyPhotoSmall.title }}">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
<!-- 	Adoption tab start-->	
		<div id="tab-2">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				<p>{{ fosterAndAdoptiveContent.adoptAChildTabCopy | markdownify}}</p>
			</div>
			{% include foster-and-adoptive-sidebar.html %}
		</div>
		{% if fosterAndAdoptiveContent.adoptAChildPhotoFull.url %}
		<div style="background-image: url('{{ fosterAndAdoptiveContent.adoptAChildPhotoFull.url }}');" class="img-settings apply-img center-vertical">
			<div class="grid">
				<div class="push-right text-center">
					<h2 class="color-white">Adopting a child</h2>
					<p class="button"><a class="orange" href="/programs/foster-and-adoptive-families/apply">Apply Now</a></p>
					<p class="button"><a class="transparent" href="/programs/foster-and-adoptive-families/requirements">See Requirements</a></p>
				</div>
			</div>
		</div>
		{% endif %}
		<section class="blue-dark stories-section">
			<div class="grid text-center">
				<h2 class="no-margin-top">Stories from adoptions</h2>
				<div class="stories-slider"> 
				{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort: "date" %}
				{% capture tag_list %}{% for blogpost in sorted_news %}{% for tag in blogpost.blogTag %}|{{tag.name}}{% endfor %}{% endfor %}{% endcapture %}
		        {% assign tag_array = tag_list | remove_first: "|" | split: "|" | uniq %}
	            {% for tag in tag_array %}
	            {% if tag == "Adoption" or tag == "Foster or Adoptive Services" %}
	            {% for blogpost in sorted_news %}
	            <div class="story-slider-item">
		            {% if blogpost.thumbnailToBeDisplayedOnHomepage or blogpost.heroImage %}
		            <div class="img-settings white slider-img" style="background-image: url('{% if blogpost.thumbnailToBeDisplayedOnHomepage %}{{ blogpost.thumbnailToBeDisplayedOnHomepage.url }} {% else %} {{ blogpost.heroImage.url }}{% endif %}');" alt="{{ blogpost.heroImage.title }}">
		            </div>
		            {% else %}
		            {% endif %}
		            <div class="white text-left slider-copy">
		                <p class="small caps round grey">{{ tag }}</p>
		                <a href="/blog/{{ blogpost.url }}"><p class="round blue">{{ blogpost.title }}</p></a>
		                <p>{{ blogpost.postBody | truncatewords:20 | markdownify }}</p>
		                <a class="read-more" href="/blog/{{ blogpost.url }}"><p class="italic">READ MORE ></p></a>
		            </div>
		        </div>
		        {% endfor %}
				{% endif %}
	            {% endfor %}
				</div>
				<p class="button"><a class="orange" href="/blog">See all stories</a></p>
			</div>
		</section>
		<section class="white">
			<div class="grid">
				<div class="col-7-12 color-blue-dark">
					<p>{{ fosterAndAdoptiveContent.adoptAChildCopyBottom | markdownify}}</p>
				</div>
				<div class="col-4-12 quote-section push-1-12">
					<div class="pink">
						<h2 class="text-center">&mdash;</h2>
						<p class="text-center italic">{{ fosterAndAdoptiveContent.adoptAChildPullQuote}}</p>
						<div class="color-block-image fadeInBlockOnScroll">
						<div style="background-image: url('{{ fosterAndAdoptiveContent.adoptAChildPhotoSmall.url }}');" alt="{{ fosterAndAdoptiveContent.adoptAChildPhotoSmall.title }}">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>