<script src="/assets/js/lib/unslider-min.js"></script>

{% assign Modals = site.data.contentful.spaces.proddata.popup | reverse %}
{% if Modals.size > 0 %}

<script src="/assets/js/lib/remodal.min.js"></script>

<script type="text/javascript">
	$( document ).ready(function() {
		if (document.cookie.replace(/(?:(?:^|.*;\s*)returnVisitor\s*\=\s*([^;]*).*$)|^.*$/, "$1") !== "true") {
	    var modal = $('[data-remodal-id=modal]').remodal();
		modal.open();
	    document.cookie = "returnVisitor=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
	  }

	
	{% if Modals[0].urlToRedirectTo.size > 0 %}
	  // Modal event listener
	  $(document).on('confirmation', '.remodal', function () {
		window.location.href = "{{Modals[0].urlToRedirectTo}}";  
		});
	{% endif %}

	});
	var $homeSlider = $('.campaign-slider').unslider({
		arrows: true,
		animation: 'fade',
		autoplay: true,
		infinite: true,
		delay: 9000,
		nav: true
	});
	$(window).scroll(function(){
        $homeSlider.data('unslider').stop();
        $('.unslider-nav').fadeOut();
        if ($(window).scrollTop() == 0) {
        	$('.unslider-nav').fadeIn();
        	console.log('scroll top');
        }
    });
</script>  
{% endif %} 