<script src="/assets/js/lib/slick.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {		
	var $homeSlider = $('.campaign-slider').slick({
		arrows: true,
		fade: true,
		autoplay: true,
		autoplaySpeed: 9000, 
		infinite: true,
		speed: 500,
		dots: true,
		pauseOnDotsHover: true
	});
	$(window).scroll(function(){
        $homeSlider.slick('slickPause');
        if ($(window).scrollTop() == 0) {
        	$homeSlider.slick('slickPlay');
        }
    });
    //latest news section hover on touch 
	$('.latest-front .col-1-3').bind('touchstart touchend', function(e){
		$(this).toggleClass('.hover');
	});
	//end hover on touch 



	// Removes the Twitter URL at the end of the tweet
	var tweetURL = `{{ site.data.tweet[0].text }}`;
	var splittedTweet = tweetURL.split('...');
	if (splittedTweet[0]){		
		$('.latest-tweet').html(splittedTweet[0] + '...');
	} 
	if (!splittedTweet[1]) {
		$('.latest-tweet').html('Read on Twitter');
	}
});
</script>

{% assign Modals = site.data.contentful.spaces.proddata.popup | reverse %}
{% if Modals.size > 0 %} 

<script src="/assets/js/lib/remodal.min.js"></script>

<script type="text/javascript">
	$( document ).ready(function() {		

		if (document.cookie.replace(/(?:(?:^|.*;\s*)returnVisitor\s*\=\s*([^;]*).*$)|^.*$/, "$1") !== "true") {
	    var modal = $('[data-remodal-id=modal]').remodal();
		modal.open();
	    document.cookie = "returnVisitor=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
	  }

	
	{% if Modals[0].urlToRedirectTo.size > 0 %}
	  // Modal event listener
	  $(document).on('confirmation', '.remodal', function () {
		window.location.href = "{{Modals[0].urlToRedirectTo}}";  
		});
	{% endif %}




	});
</script>  
{% endif %} 