<header class="site-header">

  <div class="wrapper">
    <div class="grid">
      <nav class="site-nav">
        <ul>
          <li><a href="/our-approach">Our Approach</a></li>
          <li><a href="/programs">Programs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
      </nav>
      <a class="site-title" href="{{ site.baseurl }}/">
        <h1>Aspiranet</h1>
      </a>
    </div>
  </div>

</header>
 