<header class="site-header">

  <div class="wrapper">
    <div class="grid">
      <nav class="site-nav">
        <ul>
          <li><a href="/our-approach"><p class="small caps color-blue {% if page.url == '/our-approach/' %} active {% endif %}">Our Approach</p></a></li>
          <li><a href="/programs"><p class="small caps color-blue {% if page.url == '/programs/' %} active {% endif %}">Programs</p></a></li>
          <li><a href="/about"><p class="small caps color-blue {% if page.url == '/about/' %} active {% endif %}">About</p></a></li>
          <li><a href="/careers"><p class="small caps color-blue {% if page.url == '/careers/' %} active {% endif %}">Careers</p></a></li>
          <li><a href="/donate"><p class="small caps color-blue {% if page.url == '/donate/' %} active {% endif %}">Donate</p></a></li>
        </ul>
      </nav>
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.image_path }}/aspiranet-logo.svg" alt="Aspiranet logo" /> 
      </a>
    </div>
  </div>

</header>
 