<div class="col-4-12">
{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort:"date" %}

    <div class="color-blue-dark blog-categories">
        <p class="caps small round">Categories</p>
        <ul class="no-padding">
        
            <li {% if page.url == '/blog/' %} class='category-active color-blue' {% endif %}><a href="/blog"><p class="{% if page.url == '/blog/' %} color-blue {% endif %}">All</p></a></li>
            {% capture category_list %}
                {% for blogpost in sorted_news %}
                    {% for category in blogpost.category %}
                        {{ category }}|
                    {% endfor %}
                {% endfor %}
            {% endcapture %}
            {% assign category_array = category_list | split: "|" | uniq %}
                {% for category in category_array %}
                    {% assign currentCategory = category %}
                        <li {% if page.category == currentCategory %} class='category-active' {% endif %}><a href="/blog/category/{{ category | slugify }}/"><p class="{% if page.category == currentCategory %} color-blue {% endif %}">{{ category }}</p></a></li>
                {% endfor %}

        </ul>
    </div>
    <div class="color-blue-dark blog-tags">
        <p class="caps small round">Tags</p>
        <ul>
        <!-- capture needs to be on one line, if not it generates spaces that mess up the split -->
        {% capture tag_list %}{% for blogpost in sorted_news %}{% for tag in blogpost.tags %}|{{tag}}{% endfor %}{% endfor %}{% endcapture %}
        {% assign tag_array = tag_list | remove_first: "|" | split: "|" | uniq %}
            {% for tag in tag_array %}
            <li>
                <a href="/blog/tag/{{ tag | slugify }}">
                    <p><span>#</span>{{ tag }}</p>
                </a>
            </li>

            {% endfor %}


        </ul>
    </div>
</div>
