---
layout: default
---

<section>
	<h1>About Aspiranet</h1>
	<h2>Hope forward</h2> 
</section>

<section>
	{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutHeader | markdownify}}
</section>

<section>
	{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutVision | markdownify}}
</section>

<section>
	{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutMission | markdownify}}
</section>

<section>
	<div>
		{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValuesRespect | markdownify}}
	</div>
	<div>
		{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValueIntegrity | markdownify}}
	</div>
	<div>
		{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValueCourage | markdownify}}
	</div>
	<div>
		{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValueHope | markdownify}}
	</div>
</section>


<section>
	<h2>Our Leadership</h2>
	<h1>Senior Executives</h1>
	<!-- pull staff here -->
</section>

<section>
	<h1>Division Heads</h1>
	<!-- pull staff here -->
</section>

<section>
	<h2>You can play a role in a child’s life.</h2>
	<ul>
		<li><p class="button"><a href="/donate">Donate</a></p></li>
		<li><p class="button"><a href="/careers">Join our team</a></p></li>
		<li><p class="button"><a href="">Become a Foster or Adoptive Family</a></p></li>
	</ul>
</section>