---
layout: default
---

<section style="background-image: url('/assets/img/placeholder.png');" class="img-settings">
	<div class="grid">
		<h1>About Aspiranet</h1>
		<h2>Hope forward</h2> 
	</div>
</section>

<section class="blue">
	<div class="grid">
		{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutHeader | markdownify}}
	</div>
</section>

<section>
	<div class="grid">
		<div class="col-1-2">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutVision | markdownify}}
		</div>
		<div class="col-1-2">
			<img src="/assets/img/placeholder.png" width="100%;">
		</div>
	</div>
</section>

<section>
	<div class="grid">
		<div class="col-1-2">
			&nbsp;
		</div>
		<div class="col-1-2">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutMission | markdownify}}
		</div>
	</div>
</section>

<section class="grey">
	<div class="grid">
		<div class="col-1-2 text-center">
			<h2 class="orange">Respect</h1>
			<p>{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValuesRespect}}</p>
		</div>
		<div class="col-1-2 text-center">
			<h2 class="green">Integrity</h1>
			<p>{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValueIntegrity}}</p>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-2 text-center">
			<h2 class="blue">Courage</h1>
			<p>{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValueCourage}}</p>
		</div>
		<div class="col-1-2 text-center">
			<h2 class="yellow">Hope</h1>
			<p>{{ site.data.contentful.spaces.proddata.rootWebsite[0].aboutValueHope}}</p>
		</div>
	</div>
</section>


<section>
	<div class="grid">
		<h2>Our Leadership</h2>
		<h1>Senior Executives</h1>
		<!-- pull staff here -->
	</div>
</section>

<section>
	<div class="grid">
		<h1>Division Heads</h1>
		
		<!-- pull staff here -->
	</div>
</section>

<section class="grey">
	<div class="grid">
	<h2 class="blue text-center">Provide a child with the love and support to thrive</h2>
	<ul>
		<li><p class="button"><a href="/donate">Donate</a></p></li>
		<li><p class="button"><a href="/careers">Join our team</a></p></li>
		<li><p class="button"><a href="">Become a Foster or Adoptive Family</a></p></li>
	</ul>
	</div>
</section>