---
layout: default
---

<section>
	<h1>Raising Hope, Empowering Communities</h1>
	<p>Aspiranet is a 501(c) (3), California nonprofit organization with the mission of providing children, youth, and families with a foundation of support and services so they can succeed at home, at school, and in their communities.  Aspiranet offers a unique blend of services including foster family support, residential care, adoption services, services for foster youth transitioning to adulthood, mental health services, intensive home-based care, and community-based family resources.</p> 
</section>

<section>
	<p>For more than 40 years, Aspiranet has been dedicated to offering outstanding services that impact more than 17,000 families at 44 community-based sites statewide.  Our services work together so that children thrive, families are empowered, and communities are strengthened.</p>
</section>

<section>
	<h1>Our Vision</h1>
	<p>We envision a world in which all children and youth are loved and cared for and all families have the resources to thrive.</p>
</section>

<section>
	<h1>Our Mission</h1>
	<p>To provide children, youth and families at risk in California with a foundation of support and services so they can succeed at home, school and in their communities.</p>
</section>

<section>
	<div>
		<h1>Respect</h1>
		<p>We approach our work with humility, honoring the experience, talents and perspectives of our families.  We build on strengths and support them in achieving their vision of success.</p>
	</div>
	<div>
		<h1>Integrity</h1>
		<p>We are trustworthy and reliable. Our actions are motivated by an unwavering desire to do what’s best on behalf of our families.</p>
	</div>
	<div>
		<h1>Courage</h1>
		<p>We strive to well meet the needs of those in our care, embracing challenges, taking risks, and learning from setbacks.  We are steadfast in staying the course in support of our families.
		</p>
	</div>
	<div>
		<h1>Hope</h1>
		<p>We are aspirational in setting ambitious yet achievable goals with our families, creating empowering solutions side by side, during challenging circumstances.</p>
	</div>
</section>


<section>
	<h2>Our Leadership</h2>
	<h1>Senior Executives</h1>
	<!-- pull staff here -->
</section>

<section>
	<h1>Division Heads</h1>
	<!-- pull staff here -->
</section>

<section>
	<h2>You can play a role in a child’s life.</h2>
	<ul>
		<li><p class="button"><a href="/donate">Donate</a></p></li>
		<li><p class="button"><a href="/careers">Join our team</a></p></li>
		<li><p class="button"><a href="">Become a Foster or Adoptive Family</a></p></li>
	</ul>
</section>