---
layout: default
---

<div id="blog" class="grey">
    <div class="grid">
        <div class="col-7-12">
            <ul>
            {% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort:"order" %}
            
            {% for blogpost in sorted_news %}
			<li class="post">
            <div class="white">
                {% if blogpost.heroImage %}
                <a href="{{ blogpost.url | prepend: site.baseurl }}">
                    <div class="img-post" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.heroImage.title }}"></div>
                </a>
                {% endif %}
                <div class="blog-excerpt">
                    <ul>
                        {% for category in blogpost.category %}
                        <li><p class="caps small">{{ category }}</p></li>
                        {% endfor %}
                    </ul>
                    <a href="{{ blogpost.url | prepend: site.baseurl }}"><h4 class="round color-blue">{{ blogpost.title }}</h4></a>
                    <p>{{ blogpost.postBody | truncatewords:20 | markdownify }}</p>
                </div>
                {% include blog-buttons.html %}
            </div>
			</li>
  			{% endfor %}
            </ul>
        </div>
        {% include sidebar.html %}
    </div>
</div>


    
  


  
  