---
layout: default
---

{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort: "date" %}

<div id="blog" class="grey">

        <div class="grid">

        <div class="col-8-12">
            <ul>
            <p class="italic filter-by">Category: {{page.title}}</p>
            {% for blogpost in sorted_news %}
                    {% if blogpost.blogCategory.name == page.title %}

                    {% include blog-post.html %}

                {% endif %}
  			{% endfor %}


            </ul>
        </div>
 
        {% include sidebar.html %}

    </div>
</div>


    
  


  
