---
layout: default
---

{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort: "date" %}

<div id="blog" class="grey">
    <!-- TODO:make sure there is only one post, on backend or here/ Photos look/if there is no photo?-->
        <div class="featured-post"> 
        {% for blogpost in sorted_news %}
            {% if blogpost.featuredOnBlog == true %}
                {% if blogpost.heroImage %}
                    <a href="/blog/{{ blogpost.url }}">
                        <div class="featured-post-img img-settings" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.heroImage.title }}">
                            <div class="featured-post-copy push-right">
                                <p class="small caps round">Aspiranet blog</p>
                                <h1 class="color-blue no-margin-top">Esperanza</h1>
                                <p class="small caps round">{{ blogpost.category }}</p>
                                <h4 class="round no-margin-top">{{ blogpost.title }}</h4> 
                                <p>{{ blogpost.postBody | truncatewords: 25 | markdownify }}</p>
                                <p class="button"><a class="orange" href="/blog/{{ blogpost.url }}">Read the full story</a></p>
                            </div>
                       </div>
                        
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="grid">
        <div class="col-7-12">
            <ul>
            {% for blogpost in sorted_news | limit:2 %}
			<li class="post">
            <div class="white">
                {% if blogpost.heroImage %}
                <a href="/blog/{{ blogpost.url }}">
                    <div class="img-post" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.heroImage.title }}"></div>
                </a>
                {% endif %}
                <div class="blog-excerpt">
                    <ul>
                        {% for category in blogpost.category %}
                        <li><p class="caps small">{{ category }}</p></li>
                        {% endfor %}
                    </ul>
                    <a href="/blog/{{ blogpost.url }}"><h4 class="round color-blue">{{ blogpost.title }}</h4></a>
                    <p>{{ blogpost.postBody | truncatewords:75 | markdownify }}</p>
                </div>
                {% include blog-buttons.html %}
            </div> 
			</li>
  			{% endfor %}
            {% include blog-load-more.html %}
            </ul>
        </div>
        {% include sidebar.html %}
    </div>
</div>


    
  


  
  