---
layout: default
---
<div id="blog-post">
	<section  {% if page.contentful_fields.heroImage %} style="background-image: url('{{ page.contentful_fields.heroImage.file.url }}');" alt='{{ page.contentful_fields.heroImage.title }}' " class="img-settings section-photo" {% endif %} class="blue"> 
		<div class="grid">
			<h1 class="round color-white push-right">{{ page.contentful_fields.title }}</h1>
		</div>
	</section>
	<section>
	    <div class="grid">
	        <div class="col-7-12">
                <div class="blog-body color-blue-dark">
                    <p>{{ page.contentful_fields.postBody | markdownify }}</p>
                </div>
	        </div>
	        {% include sidebar-post.html %}
	    </div>
	</section>
</div>