---
layout: default
---
{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort: "date" %}

<div id="blog-post">
	<section  {% if page.contentful_fields.heroImage %} style="min-height:500px;background-image: url('{{ page.contentful_fields.heroImage.file.url }}');" alt='{{ page.contentful_fields.heroImage.title }}' " class="img-settings section-photo" {% endif %} class="blue"> 
	</section>
	<section>
	    <div class="grid">
	        <div class="col-8-12">
                <div class="blog-body color-blue-dark">
                    <h1 class="round no-margin-top">{{ page.contentful_fields.title }}</h1>
                    <p>{{ page.contentful_fields.postBody | markdownify }}</p>
                </div>
	        </div>
	        {% include sidebar.html %}
	    </div>
	</section>
    <section class="grey">
        <div class="grid"> 
        <h1 class="no-margin-top">Similar posts</h1>
        <div class="similar-posts-wrapper">
            <ul>
                {% for blogpost in sorted_news %}

                        {% cycle 'section-group-start': '<li>', '', '' %}
                            <div class="similar-post">
                                <a href="/blog/{{ blogpost.url }}">
                                    {% if blogpost.heroImage %}
                                        <div class="similar-post-img img-settings" style="background-image: url('{{ blogpost.heroImage.url }}');" alt="{{ blogpost.heroImage.title }}">
                                        </div>
                                    {% endif %}
                                    <div class="similar-post-blurb">
                                        <p class="small caps round">{{ blogpost.category }}</p>
                                        <p class="round blue">{{ blogpost.title }}</p>
                                    </div>
                                </a>
                            </div>
                        {% cycle 'section-group-end': '', '', '</li>' %}
                {% endfor %}
            </ul>
        </div>
            <p class="button btn-back-to-all"><a class="orange" href="/blog">Back to all posts</a></p>
        </div>
    </section>
</div>

