---
layout: default
---

<section>
	<div class="grid">
		<h1>Give Love and Support. Give to Aspiranet</h1>
		<p>When children and families have access to the support and resources they need, there’s no limit to what they can accomplish.</p>
    	
    	{% include donateForm.html %}
		<!-- donation form  --> 
	</div>
</section>

<section class="grey">
	<div class="grid text-center">
		<h2 class="blue">Your generous donation will:</h2>
		<div class="col-1-4" style="margin-left: 5%;">
			<img src="/assets/img/House.svg" width="100px">
			<p class="blue">Provide children with a safe and loving home</p>
		</div>
		<div class="col-1-4 push-1-12">
			<img src="/assets/img/Heart.svg" width="100px">
			<p class="blue">Give children and families the resources they need to thrive</p>
		</div>
		<div class="col-1-4 push-1-12">
			<img src="/assets/img/Book.svg" width="100px">
			<p class="blue">Empower children and families with services to succeed at home, school and in their communities</p>
		</div>
	</div>
	
</section>