---
layout: default
---

<div class="hide-on-tablet hide-on-mobile hero-img img-settings" style="background-image: url('https://images.contentful.com/e5ehlcazegi0/3NQynBPIT66Qm4amuKCOEC/d4b2f91bf25a5cf3b3a06de7ee4330cc/02_donate_hero_img_1.jpg');">
	<div class="grid">
		<div class="push-right col-1-2 no-padding">
    		{% include donateForm.html %}
			<!-- donation form  --> 
		</div>
	</div>
</div>

<!-- mobile donate form -->
<div class="hide-on-desktop">
	<img src='https://images.contentful.com/e5ehlcazegi0/3NQynBPIT66Qm4amuKCOEC/d4b2f91bf25a5cf3b3a06de7ee4330cc/02_donate_hero_img_1.jpg' style="width: 100%;" />
	<div class="grid">
		{% include donateForm.html %}
		<!-- donation form  --> 
	</div>
</div>
<!-- end mobile donate form -->

<section class="donate-content blue" style="padding: 40px 0;">
	<div class="grid">
		<div class="col-1-2 text-center">
			<h3>{{ site.data.contentful.spaces.proddata.donatePage[0].donateSubheadText }}</h3>
			<img src="/assets/img/aspiranet-logo-white.svg" width="29%">
		</div>
	</div>
</section>
<section class="grey section-short">
	<div class="grid text-center">
		<h2 class="color-blue">Your generous donation will:</h2>
	<section class="cta-btns">
		<div class="col-1-3 tablet-col-1-3">
			<img src="/assets/img/House.svg" width="35%" class="center">
			<p class="color-blue">{{ site.data.contentful.spaces.proddata.donatePage[0].textIcon1 }}</p>
		</div>
		<div class="col-1-3 tablet-col-1-3">
			<img src="/assets/img/Heart.svg" width="35%" class="center">
			<p class="color-blue">{{ site.data.contentful.spaces.proddata.donatePage[0].textIcon2 }}</p>
		</div>
		<div class="col-1-3 tablet-col-1-3">
			<img src="/assets/img/Book.svg" width="35%" class="center">
			<p class="color-blue">{{ site.data.contentful.spaces.proddata.donatePage[0].textIcon3 }}</p>
		</div>
	</div>	
</section>