---
layout: default
---

<section style="background-image: url('/assets/img/pattern.svg');" class="img-settings section-photo center-vertical" style="min-height: 500px;">
    <h1 class="color-white">Event</h1>
</section>

<section>
    <div class="grid">
        <div class="col-1-2">
            <h1 class="round no-margin-top blue">{{ page.contentful_fields.title }}</h1>
            <time datetime="{{page.contentful_fields.date}}" class="caps round small blue no-margin-top">{{ page.contentful_fields.date | date: "%a, %b %d, %Y"  }}</time>
            <p>{{ page.contentful_fields.description | markdownify }}</p>
        </div>
        <div class="col-1-2">
                <iframe src="//eventbrite.com/tickets-external?eid={{page.contentful_fields.eventId}}&ref=etckt" frameborder="0" height="400" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" style="padding-left: 40px"></iframe>
        </div>
    </div>
</section>