---  
layout: default                      
---      
  
<section class="blue text-center">
{% if site.data.contentful.spaces.proddata.rootWebsite[0].findAProgramPageTitle %}
  <div class="grid">
    <h1>{{ site.data.contentful.spaces.proddata.rootWebsite[0].findAProgramPageTitle }}</h1>
  </div>
{% else %}
  <div class="grid">
    <h1>Find a Program or Service</h1>
  </div>
{% endif %}
</section> 
{% if site.data.contentful.spaces.proddata.rootWebsite[0].findAProgramPageText %}
<section>
  <div class="grid">
    <h1>{{ site.data.contentful.spaces.proddata.rootWebsite[0].findAProgramPageText | markdownify }}</h1>  
  </div>
</section>
{% endif %}
<section class="grey section-short">
	<div class="grid">  
    <div class="filters-box">
      <fieldset class="select-program">
        <label for="programSelect"><p>Select a program</p></label>
        <select name="select" id="programSelect"> 
              <option value="" selected=""><p>Select a program</p></option> 
        </select>
      </fieldset>
      </div> 
      <div style="clear:both;">
      <br/>
		<div id="panel"></div>
		<div id="map-canvas"></div>
	</div> 
</section>

 
<script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCkqEvtASd6ZH3A_wqb9YpH7_W7cABVRGI"></script>
<script src="/assets/js/lib/marked.js"></script>

<script src="/assets/js/lib/store-locator.min.js"></script>
<script src="/assets/js/lib/store-locator-custom.js"></script>
<script src="/assets/js/find-program.js"></script>