---
layout: default                    
---     
<section class="blue text-center">
  <h1>Find a Program or Service</h1>
</section> 

<section class="grey">
	<div class="grid">  
    <div class="filters-box">
      <fieldset class="select-program">
        <label for="programSelect"><p>Select a program</p></label>
        <select name="select" id="programSelect"> 
              <option value="" selected=""><p>Select a program</p></option> 
        </select>
      </fieldset>
      <fieldset class="select-age">
        <label for="ageSelect"><p>Age level</p></label>
        <select name="select" id="ageSelect">
              <option value="" selected="">All</option> 
              <option value="0-5">0-5</option>
              <option value="6-10">6-10</option>
              <option value="11-14">11-14</option>
              <option value="15-19">15-19</option>
              <option value="20+">20+</option>
        </select>
      </fieldset> 
      </div> 
      <div style="clear:both;">
      <br/>
		<div id="panel"></div>
		<div id="map-canvas"></div>
	</div> 
</section>


<!-- TO REMOVE -->
<!-- <style type="text/css">
  .store .misc {
    display: none;
  }
</style> -->
<!-- END TO REMOVE -->

<script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCkqEvtASd6ZH3A_wqb9YpH7_W7cABVRGI"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="/assets/js/lib/store-locator.min.js"></script>
<script src="/assets/js/lib/store-locator-custom.js"></script>

<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', function() {
  initMap();
});

$('#programSelect').change(function(){ 
  initMap();
})

$('#ageSelect').change(function(){ 
  initMap();
})

function initMap() {
  $('#panel').html('');
  $('#map-canvas').html('');

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: new google.maps.LatLng(35.1200549, -120.61598019999997),
    zoom: 6,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var panelDiv = document.getElementById('panel');

  var data = new MedicareDataSource;

  var view = new storeLocator.View(map, data, {
    geolocation: false,
    features: data.getFeatures()
  });

  new storeLocator.Panel(panelDiv, {
    view: view
  });
}

</script>