---
layout: default
---
<div class="foster-and-adoptive-families">
        <div class="individual-program grey">
	<div class="blue program-title">
		<div class="grid"> 
			<h1>Foster and Adoptive Families </h1>
		</div> 
	</div>
	<div class=" blue-dark program-subtitle">
		<div class="grid">
			<a href="/programs/foster-and-adoptive-families/"><p class="italic color-white">< Back to program overview</p></a>
		</div>
	</div>
	<div class="white">
	<div class="grid">
		<ul class="tabs hide-on-mobile">
			<li><a href="/programs/foster-and-adoptive-families/steps/" {% if page.url == "/programs/foster-and-adoptive-families/steps/" %} class='active' {% endif %}><p class="small caps">Steps</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/requirements/" {% if page.url == "/programs/foster-and-adoptive-families/requirements/" %} class='active' {% endif %}><p class="small caps">Requirements</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/faq/" {% if page.url == "/programs/foster-and-adoptive-families/faq/" %} class='active' {% endif %}><p class="small caps">FAQ</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/locations/" {% if page.url == "/programs/foster-and-adoptive-families/locations/" %} class='active' {% endif %}><p class="small caps">Locations</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/apply/" {% if page.url == "/programs/foster-and-adoptive-families/apply/" %} class='active' {% endif %}><p class="small caps">Apply</p></a></li>
		</ul>
		<!-- Mobile dropdown menu  -->
		<select class="mobile-dropdown hide-on-desktop hide-on-tablet" onChange="window.location.href=this.value">
			<option value="/programs/foster-and-adoptive-families/steps/" {% if page.url == "/programs/foster-and-adoptive-families/steps/" %} selected="selected" {% endif %}>Steps</option>
			<option value="/programs/foster-and-adoptive-families/requirements/" {% if page.url == "/programs/foster-and-adoptive-families/requirements/" %} selected="selected" {% endif %}>Requirements</option>
			<option value="/programs/foster-and-adoptive-families/faq/" {% if page.url == "/programs/foster-and-adoptive-families/faq/" %} selected="selected" {% endif %}>FAQ</option>
			<option value="/programs/foster-and-adoptive-families/apply/" {% if page.url == "/programs/foster-and-adoptive-families/apply/" %} selected="selected" {% endif %}>Apply</option>
		</select>
		<!-- end mobile dropdown menu  -->
	</div>
	<div id="tab-1">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				{{content}}
			</div>
			{% include foster-and-adoptive-sidebar.html %}
		</div>
	</div>
</div> 
			{% for program in site.data.contentful.spaces.proddata.programs %}
				{% if program.title == 'Foster and Adoptive Families ' %}
	
	
	<section class="blue-dark text-center fast-facts">
		<div class="grid">
			<h3>Fast Facts</h3>
					<div class="col-1-3">
						<h1 class="color-orange">{{program.fastFact1Number}}</h1>
						<p class="round">{{program.fastFact1Text}}</p>
					</div>
					<div class="col-1-3">
						<h1 class="color-orange">{{program.fastFact2Number}}</h1>
						<p class="round">{{program.fastFact2Text}}</p>
					</div>
					<div class="col-1-3">
						<h1 class="color-orange">{{program.fastFact3Number}}</h1>
						<p class="round">{{program.fastFact3Text}}</p>
					</div>
		</div>
	</section>
	
	
	<section class="how-you-can-help orange center text-center">
		<div>
			<h3 class="round no-margin-top">How you can help</h3>
			<p class="col-6-12 mobile-col-10-12 center no-padding">{{ program.howYouCanHelpCopy }}</p>
		</div>
			<p class="button"><a class="transparent" href="/programs/foster-and-adoptive-families/apply">I'D LIKE TO PROVIDE A HOME FOR A CHILD</a></p>
			<p class="button"><a class="orange" href="/donate">Donate</a></p>
	</section>
				{% endif %}
			{% endfor %}
	
	<section>
		<!-- <h3 class="text-center">More programs</h3> -->
		<!-- Slider with all other programs goes here -->
	</section>
</div>
      </div>