---
layout: default
---
<div class="foster-and-adoptive-families">
        <div class="individual-program grey">
	<div class="blue program-title">
		<div class="grid"> 
			<h1>Foster and Adoptive Families </h1>
		</div>
	</div>
	<div class=" blue-dark program-subtitle">
		<div class="grid">
			<h4 class="italic">Support for families, every step of the way</h4>
		</div>
	</div>
	
	<div class="white">
	<div class="grid">
		<ul class="tabs">
			<li><a href="#tab-1" class="active"><p class="small caps">Be a foster family</p></a></li>
			<li><a href="#tab-2"><p class="small caps">Adopt a child</p></a></li>
		</ul>
	</div>
	
	<div id="tab-1">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				<p></p><p>Aspiranet foster and adoption programs work to connect children, youth, and young adults to safe, caring relationships that can last a lifetime.</p>

<p>Few events are more traumatic for a child than being removed from their family and entered into the foster care system.</p>

<p>When a court determines that a child cannot continue to live with their birth parents due to concerns for their safety and well-being, we are committed to securing a safe and nurturing family environment for that child.</p>

<p>Aspiranet recruits, screens and approves skilled and caring foster parents, guiding them in becoming a healing resource to children who have experienced trauma and adversity.</p>

<p>We work in partnership with our families to provide training and ongoing supports until children are able to return home safely.</p>

<p>When returning home is not an option, we partner with children and families to develop a plan for life long connections that may include adoption.&nbsp;</p>

<p>Whether it is a foster family opening their home for a child in need, or an adoptive family offering a foster child a forever family, every family is unique and every family’s experience is different.</p>

<p>In working with our families our goal is always the same – to maximize opportunities for long-term success and to support our families every step of the way.</p>
<p></p>
			</div>
			<div class="col-3-12 blue-dark push-1-12 links-box">
	<p class="small caps">Foster &amp; Adoptive Families</p>
	<hr>
	<ul>
		<li><a href="/programs/foster-and-adoptive-families/steps" class="color-white"><p>Steps &gt;</p></a></li>
		<li><a href="" class="color-white"><p>Requirements &gt;</p></a></li>
		<li><a href="" class="color-white"><p>FAQ &gt;</p></a></li>
		<li><a href="" class="color-white"><p>Locations &gt;</p></a></li>
	</ul>
	<ul class="social-icons">
		<p class="caps round small no-margin-top">Share the program</p>
		<li><a href="//programs/foster-and-adoptive-families/"><img src="/assets/img/twitter.svg" alt="share on twitter"></a></li>
		<li><a href="https://twitter.com/intent/tweet?text=Foster and Adoptive Families &amp;url=/programs/foster-and-adoptive-families/&amp;via=@Aspiranet&amp;related=@Aspiranet"><img src="/assets/img/facebook.svg" alt="share on facebook"></a></li>
		<li><a href="mailto:?&amp;body=Foster and Adoptive Families %20/programs/foster-and-adoptive-families/"><img src="/assets/img/email.svg" alt="email program"></a></li>
	</ul>
</div>

		</div>
		
		<div style="background-image: url('//images.contentful.com/e5ehlcazegi0/3PfGV3z1ywQmwUEQogISG4/f269c0223145bd5845d0b4ba78ec19a9/04_program_hero_img__KAwSW.jpg');" class="img-settings program-img center-vertical">
			<div class="grid">
				<div class="push-right text-center">
					<h2 class="color-white">Become a foster parent</h2>
					<p class="button"><a class="orange" href="/apply">Apply Now</a></p>
					<p class="button"><a class="transparent" href="/requirements">See Requirements</a></p>
				</div>
			</div>
		</div>
		
		<section class="blue-dark stories-section">
			<div class="grid text-center">
				<h2 class="no-margin-top">Stories from foster families</h2>
				<div class="unslider"><div class="stories-slider unslider-horizontal" style="position: relative; overflow: hidden;"> 
					<ul class="unslider-wrap unslider-carousel" style="width: 500%; margin-left: -100%; left: -200%;">
						
						
						
							<li class="unslider-clone" style="width: 20%;">
			                    <div class="story-slider-item flex-container col-8-12 center">
		                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/GOpsH36sc88eqmO4UIGEG/a5edca5a551499b88e0c591508152e66/veronicapic4.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Hope</p>
		                                <p class="round blue">A Miracle Out of Nowhere</p>
		                                <p></p><p>Veronica Morales, a housing specialist with Aspiranet’s Transitional Aged Youth programs, knows first-hand what’s it’s like to live on the streets. She spent much of her youth in foster care, and then when…</p>
<p></p>
		                                <a href="/blog/miracle-out-of-nowhere"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
			                </li><li class="" style="width: 20%;">
			                    <div class="story-slider-item flex-container col-8-12 center">
		                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/1eIlKfd7J4soIAWuOWs2WU/6b81511cfac76edc9ca43c9d00ce3d73/chrise.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Hope</p>
		                                <p class="round blue">Lasting Connections</p>
		                                <p></p><p>Chris Essary earned a Bachelor’s degree in Sociology from California State University, Stanislaus, and began his Aspiranet career in 1987 as an Excell Center House Parent. During his three decades at Aspiranet, he…</p>
<p></p>
		                                <a href="/blog/Lasting-connections"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
			                </li>
						
						
						
						
						
							<li class="" style="width: 20%;">
			                    <div class="story-slider-item flex-container col-8-12 center">
		                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/6fvp7U9pAWi2yEasKeg8eG/c609b2bb1ab25b3817c3f68ddc2f26f9/Goodrich.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Hope</p>
		                                <p class="round blue">Trusting Fate</p>
		                                <p></p><p>A chance encounter two years ago inspired Jennifer Goodrich to start a family through foster care. She was in a public restroom when she heard a woman crying, and soon discovered that what…</p>
<p></p>
		                                <a href="/blog/trusting-fate"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
			                </li>
						
						
						
						
						
						
						
						
						
							<li class="unslider-active" style="width: 20%;">
			                    <div class="story-slider-item flex-container col-8-12 center">
		                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/GOpsH36sc88eqmO4UIGEG/a5edca5a551499b88e0c591508152e66/veronicapic4.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Hope</p>
		                                <p class="round blue">A Miracle Out of Nowhere</p>
		                                <p></p><p>Veronica Morales, a housing specialist with Aspiranet’s Transitional Aged Youth programs, knows first-hand what’s it’s like to live on the streets. She spent much of her youth in foster care, and then when…</p>
<p></p>
		                                <a href="/blog/miracle-out-of-nowhere"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
			                </li><li class="unslider-clone" style="width: 20%;">
			                    <div class="story-slider-item flex-container col-8-12 center">
		                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/1eIlKfd7J4soIAWuOWs2WU/6b81511cfac76edc9ca43c9d00ce3d73/chrise.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Hope</p>
		                                <p class="round blue">Lasting Connections</p>
		                                <p></p><p>Chris Essary earned a Bachelor’s degree in Sociology from California State University, Stanislaus, and began his Aspiranet career in 1987 as an Excell Center House Parent. During his three decades at Aspiranet, he…</p>
<p></p>
		                                <a href="/blog/Lasting-connections"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
			                </li>
						
						
					</ul>
				</div><a class="unslider-arrow next">Next</a><a class="unslider-arrow prev">Prev</a></div>
					<p class="button"><a class="orange" href="/blog">See all stories</a></p>
				</div>
		</section>
		<section class="white">
			<div class="grid">
				<div class="col-7-12 color-blue-dark">
					<p></p><p>There is no better gift than to provide a child with the love and support so they can thrive. Whether you are a foster parent, relative or extended family member, you can provide a home for a child to do just that.</p>

<p>Aspiranet is committed to providing the best possible care for children in foster care and helping to reunite families.</p>

<p>We partner with foster parents in building specialized skills to effectively care for children who have experienced instability and trauma – providing ongoing resources, information and support.</p>

<p>Research has proven what a difference it makes for children to have at least one caring and consistent relationship with a reliable adult.</p>

<p>Foster parents provide a stable, loving haven for children to begin healing from trauma and to reunite with their birth families.</p>

<p>When children cannot return home safely, foster parents often help with their transition to a permanent family and become an ongoing connection for the child. Sometimes they adopt or become guardians of the child.</p>

<p>Please consider becoming an Aspiranet foster parent and offering nurturing care to a child. Ask us how.</p>
<p></p>
				</div>
				<div class="col-4-12 quote-section push-1-12">
					<div class="pink">
						<h2 class="text-center">—</h2>
						<h3 class="text-center">“Nothing is more joyous than seeing a family form and begin to make a special future together.” <br> — Diane Warne</h3>
						<div class="color-block-image">
						<div style="background-image: url('//images.contentful.com/e5ehlcazegi0/39TMpyh11SC6OI6Sy6yQ24/2a44b2e96116954013048b3b1d0a1d0b/01_homepage_img_v2_4.jpg');" alt="01 homepage img v2 4">
						</div>
					</div>
				</div>
			</div>
		</div></section>
	</div>
	<div id="tab-2" style="display: none;">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				<p></p><p>Aspiranet foster and adoption programs work to connect children, youth, and young adults to safe, caring relationships that can last a lifetime.</p>

<p>Few events are more traumatic for a child than being removed from their family and entered into the foster care system.</p>

<p>When a court determines that a child cannot continue to live with their birth parents due to concerns for their safety and well-being, we are committed to securing a safe and nurturing family environment for that child.</p>

<p>Aspiranet recruits, screens and approves skilled and caring foster parents, guiding them in becoming a healing resource to children who have experienced trauma and adversity.</p>

<p>We work in partnership with our families to provide training and ongoing supports until children are able to return home safely.</p>

<p>When returning home is not an option, we partner with children and families to develop a plan for life long connections that may include adoption.&nbsp;</p>

<p>Whether it is a foster family opening their home for a child in need, or an adoptive family offering a foster child a forever family, every family is unique and every family’s experience is different.</p>

<p>In working with our families our goal is always the same – to maximize opportunities for long-term success and to support our families every step of the way.</p>
<p></p>
			</div>
			<div class="col-3-12 blue-dark push-1-12 links-box">
	<p class="small caps">Foster &amp; Adoptive Families</p>
	<hr>
	<ul>
		<li><a href="/programs/foster-and-adoptive-families/steps" class="color-white"><p>Steps &gt;</p></a></li>
		<li><a href="" class="color-white"><p>Requirements &gt;</p></a></li>
		<li><a href="" class="color-white"><p>FAQ &gt;</p></a></li>
		<li><a href="" class="color-white"><p>Locations &gt;</p></a></li>
	</ul>
	<ul class="social-icons">
		<p class="caps round small no-margin-top">Share the program</p>
		<li><a href="//programs/foster-and-adoptive-families/"><img src="/assets/img/twitter.svg" alt="share on twitter"></a></li>
		<li><a href="https://twitter.com/intent/tweet?text=Foster and Adoptive Families &amp;url=/programs/foster-and-adoptive-families/&amp;via=@Aspiranet&amp;related=@Aspiranet"><img src="/assets/img/facebook.svg" alt="share on facebook"></a></li>
		<li><a href="mailto:?&amp;body=Foster and Adoptive Families %20/programs/foster-and-adoptive-families/"><img src="/assets/img/email.svg" alt="email program"></a></li>
	</ul>
</div>

		</div>
		
		<div style="background-image: url('//images.contentful.com/e5ehlcazegi0/3NQynBPIT66Qm4amuKCOEC/d4b2f91bf25a5cf3b3a06de7ee4330cc/02_donate_hero_img_1.jpg');" class="img-settings program-img center-vertical">
			<div class="grid">
				<div class="push-right text-center">
					<h2 class="color-white">Adopting a child</h2>
					<p class="button"><a class="orange" href="/apply">Apply Now</a></p>
					<p class="button"><a class="transparent" href="/requirements">See Requirements</a></p>
				</div>
			</div>
		</div>
		
		<section class="blue-dark stories-section">
			<div class="grid text-center">
				<h2 class="no-margin-top">Stories from adoptions</h2>
				<div class="unslider"><div class="stories-slider unslider-horizontal" style="position: relative; overflow: hidden;">
					<ul class="unslider-wrap unslider-carousel" style="width: 300%; margin-left: -100%; left: 0%;">
						<li class="unslider-clone" style="width: 33.3333%;">
							
							
                        
							
							<div class="story-slider-item flex-container col-8-12 center">
	                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/4pdgIwW2asW0OWKyw2sGK2/4e740993da778c4763f87e7f678dbcba/30640654113_5ee8e8c1b8_o.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Integrity</p>
		                                <p class="round blue">“Everyone wants to give the best to their child”</p>
		                                <p></p><p>When Sanat and his family relocated to the East Bay from India for a job opportunity in the tech industry, everybody felt a bit disoriented. His young son, Yatharth, became very fearful of…</p>
<p></p>
		                                <a href="/blog/best-to-their-child"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
							</li><li class="unslider-active" style="width: 33.3333%;">
							
							
                        
							
							<div class="story-slider-item flex-container col-8-12 center">
	                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/4pdgIwW2asW0OWKyw2sGK2/4e740993da778c4763f87e7f678dbcba/30640654113_5ee8e8c1b8_o.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Integrity</p>
		                                <p class="round blue">“Everyone wants to give the best to their child”</p>
		                                <p></p><p>When Sanat and his family relocated to the East Bay from India for a job opportunity in the tech industry, everybody felt a bit disoriented. His young son, Yatharth, became very fearful of…</p>
<p></p>
		                                <a href="/blog/best-to-their-child"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
							</li><li class="unslider-clone" style="width: 33.3333%;">
							
							
                        
							
							<div class="story-slider-item flex-container col-8-12 center">
	                            
	                                <div class="img-settings col-1-2 white" style="background-image: url('//images.contentful.com/e5ehlcazegi0/4pdgIwW2asW0OWKyw2sGK2/4e740993da778c4763f87e7f678dbcba/30640654113_5ee8e8c1b8_o.jpg');" alt="">
	                                </div>
		                            
		                            <div class="col-1-2 white text-left">
		                                <p class="small caps round grey">Integrity</p>
		                                <p class="round blue">“Everyone wants to give the best to their child”</p>
		                                <p></p><p>When Sanat and his family relocated to the East Bay from India for a job opportunity in the tech industry, everybody felt a bit disoriented. His young son, Yatharth, became very fearful of…</p>
<p></p>
		                                <a href="/blog/best-to-their-child"><p class="italic">READ MORE &gt;</p></a>
		                            </div>
			                    </div>
							</li>
						
                        
							
                        
							
                        
							
                        
							
                        
							
                        
					</ul>
				</div><a class="unslider-arrow next">Next</a><a class="unslider-arrow prev">Prev</a></div>
				<p class="button"><a class="orange" href="/blog">See all stories</a></p>
			</div>
		</section>
		<section class="white">
			<div class="grid">
				<div class="col-7-12 color-blue-dark">
					<p></p><p>We believe that every child deserves to be loved and cared for inside a stable, healthy family.</p>

<p>Aspiranet works to assure a secure and loving home for foster youth, including adoption through foster care when returning to their families is not an option.</p>

<p>We are thoughtful and trustworthy in how we match foster children and youth with adoptive families, looking for the best fit where both can be successful.&nbsp; 
We partner with our families in providing education, resources and support at all stages of the adoption process.&nbsp;</p>

<p>There is no better gift than to provide a child with the love and support so they can thrive.  As an adoptive family you can provide a home for a child to do just that.</p>

<p>Consider becoming an Aspiranet adoptive family today.  Ask us how.</p>
<p></p>
				</div>
				<div class="col-4-12 quote-section push-1-12">
					<div class="pink">
						<h2 class="text-center">—</h2>
						<h3 class="text-center">“Nothing is more joyous than seeing a family form and begin to make a special future together.” <br> — Diane Warne</h3>
						<div class="color-block-image">
						<div style="background-image: url('//images.contentful.com/e5ehlcazegi0/2MBq24JZ7WScAi6sM4M6AK/f6b29bee680e1a713aa183226103506b/01_homepage_img_v3_1-1.jpg');" alt="01 homepage img v3 1-1">
						</div>
					</div>
				</div>
			</div>
		</div></section>
	</div>
</div> 
	
	
	<section class="blue-dark text-center fast-facts">
		<div class="grid">
			<h3>Fast Facts</h3>
			<div class="col-1-3">
				<h1 class="color-orange">90</h1>
				<p class="round">The number of Californian children per day entering foster care </p>
			</div>
			<div class="col-1-3">
				<h1 class="color-orange">50,000</h1>
				<p class="round">The number of Californian children in foster care </p>
			</div>
			<div class="col-1-3">
				<h1 class="color-orange">2,000</h1>
				<p class="round">Since 1999, the number of children Aspiranet transitioned from foster care to adoption</p>
			</div>
		</div>
	</section>
	
	
	<section class="col-11-12 center orange text-center block-overlap">
		<div>
			<h4 class="round no-margin-top">How you can help</h4>
			<h4 class="col-7-12 center">Thousands of children in California are in need of a forever family. Can you offer a child a safe and loving home? </h4>
		</div>
		
			<p class="button"><a class="transparent" href="/donate">I'd like to provide a home for a child</a></p>
		
			<p class="button"><a class="orange" href="/donate">Donate</a></p>
	</section>
	
	<section>
		<!-- <h3 class="text-center">More programs</h3> -->
		<!-- Slider with all other programs goes here -->
	</section>
</div>
      </div>