---
layout: default
---
<div class="foster-and-adoptive-families">
        <div class="individual-program grey">
	<div class="blue program-title">
		<div class="grid"> 
			<h1>Foster and Adoptive Families </h1>
		</div> 
	</div>
	
	<div class="white">
	<div class="grid">
		<ul class="tabs">
			<li><a href="/programs/foster-and-adoptive-families/steps/" class="active"><p class="small caps">Steps</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/requirements/"><p class="small caps">Requirements</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/faq/"><p class="small caps">FAQ</p></a></li>
			<li><a href="/programs/foster-and-adoptive-families/locations/"><p class="small caps">Locations</p></a></li>
		</ul>
	</div>
	
	<div id="tab-1">
		<div class="grid tab-content">
			<div class="col-8-12 color-blue-dark">
				{{content}}
			</div>
			<div class="col-3-12 blue-dark push-1-12 links-box">
	<p class="small caps">Foster &amp; Adoptive Families</p>
	<hr>
	<ul>
		<li><a href="/programs/foster-and-adoptive-families/steps" class="color-white"><p>Steps &gt;</p></a></li>
		<li><a href="/programs/foster-and-adoptive-families/requirements/" class="color-white"><p>Requirements &gt;</p></a></li>
		<li><a href="/programs/foster-and-adoptive-families/faq/" class="color-white"><p>FAQ &gt;</p></a></li>
		<li><a href="/programs/foster-and-adoptive-families/locations/" class="color-white"><p>Locations &gt;</p></a></li>
	</ul>
	<ul class="social-icons">
		<p class="caps round small no-margin-top">Share the program</p>
		<li><a href="//programs/foster-and-adoptive-families/"><img src="/assets/img/twitter.svg" alt="share on twitter"></a></li>
		<li><a href="https://twitter.com/intent/tweet?text=Foster and Adoptive Families &amp;url=/programs/foster-and-adoptive-families/&amp;via=@Aspiranet&amp;related=@Aspiranet"><img src="/assets/img/facebook.svg" alt="share on facebook"></a></li>
		<li><a href="mailto:?&amp;body=Foster and Adoptive Families %20/programs/foster-and-adoptive-families/"><img src="/assets/img/email.svg" alt="email program"></a></li>
	</ul>
</div>
		</div>
	</div>
</div> 
	
	
	<section class="blue-dark text-center fast-facts">
		<div class="grid">
			<h3>Fast Facts</h3>
			<div class="col-1-3">
				<h1 class="color-orange">90</h1>
				<p class="round">The number of Californian children per day entering foster care </p>
			</div>
			<div class="col-1-3">
				<h1 class="color-orange">50,000</h1>
				<p class="round">The number of Californian children in foster care </p>
			</div>
			<div class="col-1-3">
				<h1 class="color-orange">2,000</h1>
				<p class="round">Since 1999, the number of children Aspiranet transitioned from foster care to adoption</p>
			</div>
		</div>
	</section>
	
	
	<section class="col-11-12 center orange text-center block-overlap">
		<div>
			<h4 class="round no-margin-top">How you can help</h4>
			<h4 class="col-7-12 center">Thousands of children in California are in need of a forever family. Can you offer a child a safe and loving home? </h4>
		</div>
		
			<p class="button"><a class="transparent" href="/donate">I'd like to provide a home for a child</a></p>
		
			<p class="button"><a class="orange" href="/donate">Donate</a></p>
	</section>
	
	<section>
		<!-- <h3 class="text-center">More programs</h3> -->
		<!-- Slider with all other programs goes here -->
	</section>
</div>
      </div>