---
layout: default
---
{% include modal.html %} 

{% assign sorted_campaigns = site.data.contentful.spaces.proddata.campain | sort: "order" %}

{% assign sorted_news = site.data.contentful.spaces.proddata.blogPost | sort: "date" %}
<div class="campaign-slider">
	{% for campaign in sorted_campaigns %}
		<div style="display: block; background-image: url('{{ campaign.image.url }}');" alt="{{ campaign.image.title }}" class="slider-item img-settings">
			<section class="grid">
				<div class="campaign-content">
					{% if campaign.campaignPartners %} 
					<h4 class="round color-blue {% if campaign.titleAlign == 'right' %} text-right {% else %} text-left {% endif %}">{{ campaign.campaignPartners }}</h4>
					{% endif %}
					<h1 class="{% if campaign.titleAlign == 'right' %} text-right {% else %} text-left {% endif %} color-blue-dark" style="position: relative;">{{ campaign.title }}</h1>
					{% if campaign.ctaButtonCopy %}
					<p class="button {% if campaign.titleAlign == 'right' %} text-right {% else %} text-left {% endif %} "><a class="orange" href="/{{ campaign.ctaUrl }}">{{ campaign.ctaButtonCopy }}</a></p>
					{% endif %}
				</div>
			</section> 
		</div>
	{% endfor %}
</div>
<section class="blue text-center prlx-item">
	<div class="grid">
		<div class="col-8-12 mobile-col-10-12 center">
			<h3>{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageVisionText}}</h3>
			<p class="button"><a class="orange" href="/programs">See our programs</a></p>
		</div>
	</div>
</section>

<section style="background-image: url('{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStatsHeroImage.url }}');" class="img-settings prlx-bg stats-bg">
	<div class="grid">
		<div class="col-1-2 text-center stats-front no-padding tablet-col-1-2">
			<h3>Dedication to families is at the heart of everything we do.</h3>
			<ul class="text-center">
				<li>
					<h1 class="color-yellow">{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat1Number}}</h1>
					<h4>{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat1Text}}</h4>
				</li>
				<li>
					<h1 class="color-yellow">{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat2Number}}</h1>
					<h4>{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat2Text}}</h4>
				</li>
				<li>
					<h1 class="color-yellow">{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat3Number}}</h1>
					<h4>{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat3Text}}</h4>
				</li>
				<li>
					<h1 class="color-yellow">{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat4Number}}</h1>
					<h4>{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageStat4Text}}</h4>
				</li>  
			</ul>
			<h3>Help us reach more children</h3>
			<p class="button"><a class="orange" href="/donate">Donate</a></p> 
		</div>
	</div>
</section>

<section class="blue text-center prlx-item">
	<div class="grid">
		<div class="col-8-12 center rewarding mobile-col-10-12">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageCareerText| markdownify}}
			<h4 class="button"><a class="orange" href="/careers">See our careers</a></h4>
		</div>
	</div>
</section>

<section style="background-image: url('{{ site.data.contentful.spaces.proddata.rootWebsite[0].adoptionCtaHeroImage.url  }}');" class="prlx-bg img-settings section-photo adopt-cta">
	<div class="grid hide-on-mobile">
		<div class="col-1-2 color-white tablet-col-1-60">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageFosterText| markdownify}}
			<h4 class="button"><a class="orange" href="/programs/foster-and-adoptive-families/apply/">Become a foster or adoptive family</a></h4>
		</div>
	</div>
</section>

<section class="blue hide-on-tablet hide-on-desktop prlx-item">
	<div class="grid">
		<div class="color-white text-center">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].homepageFosterText| markdownify}}
			<h4 class="button"><a class="orange" href="/programs/">Become a foster or adoptive family</a></h4>
		</div>
	</div>
</section>
 
<section class="latest-front text-center white prlx-item">
	<h3 class="blue-dark">The latest</h3>
	<div class="grid">
		<div class="col-1-3 blue">
			<div class="caption"> 
				<p class="small caps color-blue-dark">Twitter</p>
			</div>
			<div class="latest-content">
				<p class="bold color-blue-dark">
				{{ site.data.tweet[0].text }} 
				</p>
			</div>
			<div class="overlay">
				<div class="overlay-content">
					<p class="button"><a class="orange" href="{{ site.data.tweet[0].entities.urls[0].url }}" target="_blank">Read on twitter</a></p> 
				</div>
			</div>
		</div>
		{% for blogpost in sorted_news %}
		{% if blogpost.featuredOnBlog == true %}
		<div class="col-1-3 blue-marin">
			<a href="/blog/{{ blogpost.url }}">
			{% if blogpost.thumbnailToBeDisplayedOnHomepage.url %}
				{% assign imageUrl = blogpost.thumbnailToBeDisplayedOnHomepage.url %}
			{% else %}
				{% assign imageUrl = blogpost.heroImage.url %}
			{% endif %}
				<div class="img-settings" style="background-image: url('/{{ imageUrl }}');">
					<div class="caption">
						<p class="small caps color-white">Stories</p>
					</div>
					<div class="latest-content">
						{% if imageUrl == nil or imageUrl == "" %}
							<h3 class="color-orange">{{ blogpost.title }}</h3>
						{% endif %}
					</div>	
					<div class="overlay center-vertical">
						<div class="overlay-content">
						{% if imageUrl %}
							<a href="/blog/{{ blogpost.url }}"><h3>{{ blogpost.title }}</h3></a> 
						{% else %} 
							<p class="button"><a class="orange" href="/blog/{{ blogpost.url }}">Read the story</a></p> 
						{% endif %}
						</div>
					</div>
				</div>
			</a>
		</div>
		{% endif %}
		{% endfor %}
		{% for blogpost in sorted_news limit: 1 offset: 1 %}
		<div class="col-1-3 orange">
			<div class="caption">
				<p class="small caps">On the blog</p>
			</div>
			<div class="latest-content">
				<a href="/blog/{{ blogpost.url }}">
					<h3>{{ blogpost.title }}</h3>
				</a>
			</div>
			<div class="overlay center-vertical">
				<div class="overlay-content">
					<p class="button"><a class="orange" href="https://twitter.com/aspiranet">Read the story</a></p> 
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="grid">
	{% for blogpost in sorted_news %}
		{% if blogpost.featuredOnHomepage == true %}
			<div class="col-1-3 orange">
			{% if blogpost.thumbnailToBeDisplayedOnHomepage.url %}
				{% assign imageUrl = blogpost.thumbnailToBeDisplayedOnHomepage.url %}
			{% else %}
				{% assign imageUrl = blogpost.heroImage.url %}
			{% endif %}
				<div class="img-settings" style="background-image: url('/{{ imageUrl }}');">
					<div class="caption">
						<p class="small caps color-white">On the blog</p>
					</div>
					<div class="latest-content">
						{% if imageUrl == nil or imageUrl == "" %}
							<h3>{{ blogpost.title }}</h3>
						{% endif %}
					</div>	
				</div>
				<div class="overlay center-vertical">
					<div class="overlay-content">
						{% if imageUrl %}
							<a href="/blog/{{ blogpost.url }}"><h3>{{ blogpost.title }}</h3></a> 
						{% else %} 
							<p class="button"><a class="orange" href="/blog/{{ blogpost.url }}">Read the story</a></p> 
						{% endif %} 
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
		<div class="col-1-3 blue-dark">
			<div class="caption">
				<p class="small caps">Jobs</p>
			</div>
			<h3 class="latest-content color-orange">Highlighted job post here</h3>
		</div>
		{% for blogpost in sorted_news limit: 1 %}
		<div class="col-1-3 yellow">
			<div class="caption">
				<p class="small caps">On the blog</p>
			</div>
			<div class="latest-content">
				<a href="/blog/{{ blogpost.url }}">
					<h3 class="color-blue-dark">{{ blogpost.title }}</h3>
				</a>
			</div>
			<div class="overlay center-vertical">
				<div class="overlay-content">
					<p class="button"><a class="orange" href="/blog/{{ blogpost.url }}">Read the story</a></p> 
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>