---
layout: default
---
 
<section>
	<!-- Loop through slider items  -->
</section>
<section>
	<h1>We envision a world in which all children and youth are loved and cared for and all families have the resourcs to thrive.</h1>
	<p class="button"><a href="/programs">See our programs</a></p>
</section>

<section>
	<h2>Dedication to families is at the heart of everything we do.</h2>
	<ul>
		<li>
			<h1>35,000</h1>
			<p>Children, youth and parents impacted each year</p>
		</li>
		<li>
			<h1>39</h1>
			<p>California counties served</p>
		</li>
		<li>
			<h1>40</h1>
			<p>Years providing families with a foundation of support</p>
		</li>
		<li>
			<h1>2.25M</h1>
			<p>California children are living in poverty</p>
		</li>
	</ul>
	<h2>Help us reach more children</h2>
	<p class="button"><a href="/donate">Donate</a></p>
</section>

<section>
	<h1>Work for a place of deep meaning and impact</h1>
	<p>Aspiranet staff do whatever it takes to keep families together. They offer love and support to children and youth in need.</p>
	<p class="button"><a href="/careers">See our careers</a></p>
</section>

<section>
	<h1>Every family is unique</h1>
	<p>Aspiranet foster and adoptive programs work every day to connect children, youth and young adults to safe, caring relationships that can last a lifetime.</p>
	<p class="button"><a href="">Become a foster &amp; adoptive family</a></p>
</section>

<section>
	<h1>The latest</h1>
	<div>
		<div><p>twitter</p></div>
		<div>
		<!-- 
		Add this line of code with the brackets and percentage signs 
		once the website is not hosted on Github anymore to retrieve latest tweet

		twitter https://twitter.com/Aspiranet maxwidth=500 limit=1 
		-->
		</div>
	</div>
	<div>
		<div><p>stories</p></div>
		<div></div>
	</div>
	<div>
		<div><p>on the blog</p></div>
		<div></div>
	</div>
	<div>
		<div><p>on the blog</p></div>
		<div></div>
	</div>
	<div>
		<div><p>jobs</p></div>
		<div></div>
	</div>
	<div>
		<div><p>on the blog</p></div>
		<div></div>
	</div>
</section>
