---
layout: default
---
<div class="individual-program grey">
	<div class="blue program-title">
		<div class="grid">
			<h1>{{ page.contentful_fields.title }}</h1>
		</div>
	</div>
	<div class=" blue-dark program-subtitle">
		<div class="grid">
			<h4>{{ page.contentful_fields.subtitle }}</h4>
		</div>
	</div>
	<section class="white">
	<div class="grid">
		<div class="col-7-12 color-blue-dark">
			<p>{{ page.contentful_fields.copyTop }}</p>
		</div>
		<div class="col-4-12 push-1-12 border-left">
			<ul class="social-icons no-margin-top">
				<p class="caps round small blue-dark no-margin-top">Share the program</p>
				<li><a href="{{ site.baseurl }}/{{ page.url }}"><img src="{{ site.image_path }}/twitter.svg" alt="share on twitter" /></a></li>
				<li><a href="https://twitter.com/intent/tweet?text={{ page.contentful_fields.title }}&amp;url={{ page.url }}&amp;via={{ site.twitter_username }}&amp;related={{ site.twitter_username }}"><img src="{{ site.image_path }}/facebook.svg" alt="share on facebook" /></a></li>
				<li><a href="mailto:?&amp;body={{ page.contentful_fields.title }}%20{{ page.url }}"><img src="{{ site.image_path }}/email.svg" alt="email program" /></a></li>
			</ul>
			<p class="button"><a class="orange" href="/careers">Join our team</a></p>
		</div>
	</div>
	</section>
	{% if page.contentful_fields.photo.file.url %}
	<div class="white">
		<img src="{{ page.contentful_fields.photo.file.url }}" width="100%;">
	</div>
	{% endif %}
	{% if page.contentful_fields.copyRest %}
	<section class="white">
	<div class="grid">
		<div class="col-8-12 color-blue-dark">
			<p>{{ page.contentful_fields.copyRest }}</p>
		</div>
	</div>
	</section>
	{% endif %}
	{% if page.contentful_fields.fastFact1Number and page.contentful_fields.fastFact2Number and page.contentful_fields.fastFact3Number and page.contentful_fields.fastFact1Text and page.contentful_fields.fastFact2Text and page.contentful_fields.fastFact3Text %}
	<section class="blue-dark text-center fast-facts">
		<div class="grid">
			<h3>Fast Facts</h3>
			<div class="col-1-3">
				<h1 class="color-orange">{{ page.contentful_fields.fastFact1Number }}</h1>
				<p class="round">{{ page.contentful_fields.fastFact1Text }}</p>
			</div>
			<div class="col-1-3">
				<h1 class="color-orange">{{ page.contentful_fields.fastFact2Number }}</h1>
				<p class="round">{{ page.contentful_fields.fastFact2Text }}</p>
			</div>
			<div class="col-1-3">
				<h1 class="color-orange">{{ page.contentful_fields.fastFact3Number }}</h1>
				<p class="round">{{ page.contentful_fields.fastFact3Text }}</p>
			</div>
		</div>
	</section>
	{% endif %}
	<section class="col-11-12 center orange text-center block-overlap">
			<div>
				<h4 class="round no-margin-top">How you can help</h4>
				<h4 class="col-7-12 center">{{ page.contentful_fields.howYouCanHelpCopy }}</h4>
			</div>
			{% if page.contentful_fields.howYouCanHelpCta %}
				<p class="button"><a class="transparent" href="/donate">{{ page.contentful_fields.howYouCanHelpCta }}</a></p>
			{% endif %}
				<p class="button"><a class="orange" href="/donate">Donate</a></p>
	</section>
	<section>
		<h3 class="text-center">More programs</h3>
		<!-- Slider with all other programs goes here -->
	</section>
</div>