---
layout: default
---

<section class="blue">
	<div class="grid text-center">
		<div class="col-1-2 center">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].programLandingHeader | markdownify}}
		</div>
	</div>
</section>
<div class="blue-dark programs-nav">
	<div class="grid">
		{% assign sorted_programs = site.data.contentful.spaces.proddata.programs | sort:"order" %}
			{% for program in sorted_programs %}
			
			<div class="col-1-6 text-center"><a href="#"><p class="caps small color-white">{{program.title}}</p></a></div>
		{% endfor %}
	</div>
</div>
    	{% assign sorted_programs = site.data.contentful.spaces.proddata.programs | sort:"order" %}
      	{% for program in sorted_programs %}
      	{% assign mod = forloop.index | modulo: 2 %}

			<section style="background-image: url('/assets/img/placeholder.png');" class="img-settings">
				<div class="grid">
					<div class="col-1-3 program-blurb {% if mod == 0 %} push-right {% endif %}">
						<h4 class="round color-white">{{program.title}}</h4>
						<p class="color-blue-dark">{{program.landingPageTextBlurb}}</p>
						<p class="button"><a href="">Learn More</a></p>
					</div>
				</div>
			</section>
      	{% endfor %}

<section>
	<div class="grid">
		<div class="col-1-2 center text-center color-blue-dark">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].programLandingContactUs | markdownify}}
		</div>
		<!-- sign up form goes here -->
	</div>
</section>

