---
layout: default 
--- 
<section class="blue">      
	<div class="grid text-center">  
		<div class="col-1-2 center tablet-col-1-2">
			{{ site.data.contentful.spaces.proddata.rootWebsite[0].programLandingHeader | markdownify }}
		</div>
	</div>
</section>

<div class="blue-marin programs-nav hide-on-mobile hide-on-tablet programFixedNav">
	<div class="grid">
		{% assign sorted_programs = site.data.contentful.spaces.proddata.programs | sort:"order" %}
			{% for program in sorted_programs %}
			
			<div class="col-1-6 text-center"><a href="#{{ program.title | slugify }}"><p class="caps small {{ program.programColor }}">{{ program.title }}</p></a></div>
		{% endfor %}
	</div>
</div>

<div class="programsWrapper">
{% assign sorted_programs = site.data.contentful.spaces.proddata.programs | sort:"order" %}
	{% for program in sorted_programs %}
	{% assign mod = forloop.index | modulo: 2 %}

	<section style="background-image: url('{{ program.photoLanding.url }}');" class="img-settings program-img center-vertical program-item" id="{{ program.title | slugify }}">
		<div class="grid hide-on-tablet hide-on-mobile">
			<div class="col-1-3 program-blurb {% if mod == 0 %} push-right {% endif %}">
				<div class="blurb-color-block {{ program.programColor }}">
					<h3 class="round color-white">{{program.title}}</h3>
				</div>
				<div class="white">
					<p>{{program.landingPageTextBlurb}}</p>
					<p class="button"><a href="/programs/{{ program.title | slugify }}" class="color-{{ program.programColor }}">Learn More</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- mobile card -->
	<div class="hide-on-desktop no-margin-top no-padding program-blurb">
		<div class="blurb-color-block {{ program.programColor }}">
			<h3 class="round color-white">{{program.title}}</h3>
		</div>
		<div class="white">
			<p>{{program.landingPageTextBlurb}}</p>
			<p class="button"><a href="/programs/{{ program.title | slugify }}" class="color-{{ program.programColor }}">Learn More</a></p>
		</div>
	</div>
	<!-- end of mobile card -->
	{% endfor %}
</div>